[2017-09-20 18:03] leeensminger opened #1 "Admin - Forms - Hide Signature Count field in Submitted Inspections Table"
Since no inspections get a signature, we should remove field "Signature Count"

![image](https://user-images.githubusercontent.com/4103847/30659612-51784bb6-9e0c-11e7-9032-fdcec06f97f4.png)

[2017-10-24 17:48] impittman opened #2 "Project Inspection is set to Complete = Yes, Non Inspection Reason still populates"
This issue occurs under the Inspections - Projects - General Information tab.

When the field "Inspection Completed = Yes", the "Non Inspection Reason" field is to be inactive according to the wireframe. However, the "Non Inspection Reason" field box is still active and defaults to the first option in the drop down menu.

![general info non inspection reason](https://user-images.githubusercontent.

[2017-10-24 17:56] impittman opened #3 "The Notes Num field in the Notes form does not auto populate"
The issue occurs when attempting the following:
       - Clicking on Inspections - Projects - Notes tab and then adding a Note to the project

The Note Number is supposed to auto populate according to the wireframe comments. However, the only field Auto Populating is the ID field. The Note Num field defaults to 0, even when the user manually changes it to another number and clicks save.

![notes n

[2017-10-24 18:06] impittman opened #4 "Date Closed on Project Notes Web Form gives a date of NaN/NaN/0NaN when the Status field is “Active”"
When editing Inspection Project Notes, the Notes web Form gives a date of NaN/NaN/0NaN when the Status field is “Active”.  This date format does not allow edits to save. The following steps was used when the error was noticed:

- Clicked on Inspections - Projects - Notes tab - Edit - Set Status Active - Save.
-It is likely that since the "Date Closed" field is default populated with NaN/NaN/0NaN,

[2017-10-24 18:18] impittman opened #5 "When an Inspection Note Status = Closed, the date closed does not default to the System Date"
When an Inspection Note Status = Closed, the date closed does not default to the System Date as stated in the wire frame. Instead, the date is  defaulted to NaN/NaN/0NaN.

-Steps taken to get this issue:
 -Inspections - Projects - Notes - Selected a Note Created - Clicked Edit - Changed Status  to "Closed"- Saved

This is what the default Date Closed field looked like, once Saved:
![date closed is

[2017-10-26 14:03] impittman opened #6 "Inpsection Reason is missing from the Inspections Form Page"
One field was missing on the Inspection Form Page that was listed on the wireframe: “Inspection Reason”.  Lee suggested it may have been left off due to space limitations and if that was the case, then it is ok to leave off the form:

Currently on the Web Form:
![missing insp reason on es2m](https://user-images.githubusercontent.com/16418393/32057245-aa6158b4-ba34-11e7-8b21-ee9d600d25ae.png)

Wire

[2017-10-26 14:52] impittman opened #7 "Spelling correction in Warning Message"
If a user is in “Edit” Mode, another page cannot be activated and a warning message appears to alert the user that a save or cancel must occur before moving forward.  The following warning pops up. It may help to change the wording a bit from do to doing, if space allows.

![warning message](https://user-images.githubusercontent.com/16418393/32060019-a98c35e2-ba3b-11e7-8b4c-2a0ad0d964f1.png)

[2017-10-26 14:59] impittman opened #8 "Date Field Format"
On the Inspection Forms, the Date Format in the "Submitted Date" field is DD/MM/YYYY. Is this correct? See example below:
![date issue 2](https://user-images.githubusercontent.com/16418393/32060324-6a73164a-ba3c-11e7-97e7-a61a8c304854.png)

[2017-10-26 15:05] impittman opened #9 "Update Spelling on the Deficiencies Page"
When adding a deficiency to a specification, the box below is brought up. The following spelling edits should be made:
Change Defalut to Default
Change Datte to Date

Steps used to get to this form:
Inspection - Projects - Select a Project from list - Chose Specifications Option - Select Specification - Select Deficiency

![spelling changes 2](https://user-images.githubusercontent.com/16418393/320

[2017-10-26 15:15] impittman opened #10 "2 Seeding Type fields in the Seedings Form in Vegetative Review"
There are 2 Seeding Type fields in the Seedings form.  One is a drop down box to make a selection and then it populates the Seeding Type text box field with the same value. Is this accurate?

In the example below, the first Seeding type field is a text box and the second Seeding Type field is a drop down box. I selected PGS-WG in the drop down box, and this value was automatically placed in the fi

[2017-10-26 15:22] impittman opened #11 "Photo Number is missing on the Sample Locations Form in Vegetative Review"
According to the requirements, a field for the "Photo Number" should be visible on the Sample Locations Form in the Vegetative Review. This attribute is not on the form.

Steps taken to test:
Inspections - Projects - Select Project - Select a Vegetative Review created - Select Sampled Location - New- enter data - Add photo - Save.

![photo issue](https://user-images.githubusercontent.com/16418393/

[2017-10-26 15:25] impittman opened #12 "Vegetative Review Form Submittal Message - Edit Comment"
The warning message for the final submittal of the Vegetative Review form needs a couple of edits:
Make the word "Sure" lower case  to "sure"
Make "U" to you.

![warning message 2](https://user-images.githubusercontent.com/16418393/32061706-5effa770-ba40-11e7-924e-9d436bbe4eec.png)

[2017-10-26 15:33] impittman opened #13 "The Final Regulatory Review Form would not submit"
-Could not submit the final Review Form after setting the inspection to complete status. I did have 2 deficiencies in the inspections if this matter. I attempted a couple of times, and signed in and out of ES2M as well, but still received an error.

Steps used:
	-Inspections- Projects – Selected Regulator Review Form that I wanted to submit- Submittal

Error message received:
![reg form issue](htt

[2017-10-26 15:57] impittman opened #14 "Unable to add new projects under Admin - Projects section"
I was unable to add "New" Projects under the Admin - Projects section of ES2M. I was logged in under the admin username and password. Lee attempted with the same login and was successful. I received a fail on each attempt with the message below:

Steps taken:
Admin - Project - New - Fill in all details - set as Active - save

![create error](https://user-images.githubusercontent.com/16418393/32063

[2017-10-31 15:44] kanglu666 commented on #1
updated, ready for testing in next release

[2017-10-31 15:50] kanglu666 commented on #7
updated, ready for testing in next release

[2017-10-31 15:56] kanglu666 commented on #8
updated, ready for testing in next release

[2017-10-31 15:59] kanglu666 commented on #9
updated, ready for testing in next release

[2017-10-31 16:04] kanglu666 commented on #12
updated, ready for testing in next release

[2017-10-31 18:11] leeensminger opened #15 "Submitted inspection form - Search Contractor"
Where is this field?  Do we have it?  Need it, if not.

[2017-11-01 14:20] kanglu666 commented on #2
updated, ready for testing in next release

[2017-11-01 14:37] kanglu666 commented on #3
updated, ready for testing in next release

[2017-11-01 14:48] kanglu666 commented on #4
updated, ready for testing in next release

[2017-11-01 15:24] kanglu666 commented on #5
updated, ready for testing in next release

[2017-11-01 16:00] kanglu666 commented on #10
updated, ready for testing in next release

[2017-11-01 16:09] kanglu666 commented on #6
for now, let's leave it off this page,  because only Inspection rating form has this field,  vegetative review form and construction diary form do not have this field.
if we need it in the page, i can add it back give value for inspection rating form records, and "NA" value to  vegetative review form and construction diary form records

[2017-11-03 13:13] kanglu666 commented on #11
sample location itself does not carry Photo Num field.
it has photo table attached, that carries the Photo Num filed..
and you can see the photo num in the photo page.

[2017-11-03 13:25] kanglu666 commented on #13
updated, ready for testing in next release

[2017-11-03 14:09] kanglu666 commented on #14
when add new project, the location info (Latitude and longitude fields) are required in the address section.
warning message has been added.
ready for testing in next release

[2017-11-03 15:38] kanglu666 commented on #15
Date Range search added.

[2017-11-03 17:17] leeensminger commented on #6
I'll check in with stakeholders and get feedback

[2017-11-17 14:40] kanglu666 commented on #15
updated, ready for testing in dev

[2017-11-21 19:43] leeensminger opened #16 "Update filter boxes so they dynamically adjust to match the column width"
Some filter boxes appear to be a static width and do not match the associated column width.  Please look into making the filter box dynamically update to match the column width.

![image](https://user-images.githubusercontent.com/4103847/33093200-5132d42a-ceca-11e7-9a76-4e6112d0a6a7.png)

[2017-11-28 16:36] impittman opened #17 "Date Format shows DD/MM/YYYY in Inpsection Forms - Notes"
When adding a Note to the Inspection Form, the date populates as DD/MM/YYYY instead of MM/DD/YYYY
![notes_date](https://user-images.githubusercontent.com/16418393/33331707-4f8f3918-d430-11e7-8862-36b9f20cc34a.png)

[2017-11-28 16:43] impittman opened #18 "In Vegetative Review Form - Sample Location Photos can not be added"
I was unable to add a photo to the Sampled Location Form associated with the Vegetative Review form using the following methods:

-Vegetative Review Form - Selected Sampled Location - Selected Edit - then hit the Photo Link to upload
-Vegetative Review Form - Selected Sampled Location - Selected New - then hit the Photo Link to upload

In both examples, I was unable to upload a photo or fill out t

[2017-11-28 16:47] impittman opened #19 "Unable to Add Attachments to the Vegetative Review Form"
I was unable to add attachments to the Vegetative Review Form. I used the following method:

Selected Vegetative Review Form – Chose Attachments link at bottom – Selected the New option – Filled out attributes and hit save (see example below):

![no attach](https://user-images.githubusercontent.com/16418393/33332236-b7b428d6-d431-11e7-8c2a-d530f7654a3c.png)

I received the following error screen:

[2017-11-28 17:06] impittman opened #20 "List space seems like a tiny fit and hard to read"
Under Admin - Project
The Project Team and Attachment lists seems quite short in space compared to the Project List above. If possible, it may help to increase the size of list boxes so the user can easily see a few team member or attachments listed and also find the scroll bar.

![proj team small](https://user-images.githubusercontent.com/16418393/33333210-536cf1d4-d434-11e7-854b-65c0bc049fda.png

[2017-11-28 17:09] impittman opened #21 "Reword Warning Box in Admin - Project"
When editing and attempting to move forward in a Project under the Admin section, the message below pops up. It needs to be a bit more clear. Maybe to state something like: “You are in project team edit session, please save or cancel first before doing other actions!”

![edit](https://user-images.githubusercontent.com/16418393/33333477-f2da9168-d434-11e7-9d70-c60cff4b6009.png)

[2017-11-28 19:21] impittman opened #22 "Disable fields that are not being edited in all forms"
While not in edit mode, fields can still have data changed but not saved. This can be confusing as people may believe they are creating/saving edits to data since the field attribute is changeable while not in edit mode. To prevent this, the fields that are editable on the forms should be greyed out/non editable until the edit button is selected.

[2017-11-28 19:48] impittman opened #23 "Fields missing in Photo Page in the Inspection Form"
Please add the following fields and link to their associated attributes in the web app interface for the Inspections Photos form:
Note Number
Specification Number
Specification Statement

Wire Frame:
![photo wire frame](https://user-images.githubusercontent.com/16418393/33340635-a1737b12-d44a-11e7-8734-b5216e3adc8d.JPG)

Current Web Interface for Photo Form under Inspections
![web photo interface]

[2017-11-28 20:08] impittman opened #24 "Change Photo Link to Open Photo"
In all Photo Form pages, please change the word "Photo Link" to "Open Photo".

![name change](https://user-images.githubusercontent.com/16418393/33341742-e4f16522-d44d-11e7-8631-f29fcf68bca9.JPG)

[2017-11-28 20:15] impittman opened #25 "Weather Page in Inspections does not show any data/weather observations"
The Weather Form found in the Inspection does not populate with data. Can you please share the logic behind getting the data to populate from a source, such as a weather station? Is there anything the user needs to do to access the weather station to get the weather data to populate in the web page?

In addition, according to the Wire Frame below, the Weather Form Page should populate with 1 weath

[2017-11-28 20:28] impittman opened #26 "Change Submittal to Submit on the web forms"
For the following forms, please change the word "Submittal" to "Submit" (see example below as well).
-Inspection Rating Form
-Construction Diary Form
-Regulatory Review Form
-Vegetative Review Form
-Semi Final
-Final

![submittal form](https://user-images.githubusercontent.com/16418393/33342569-8ee906c8-d450-11e7-81f2-dc9636b8237e.JPG)

[2017-11-28 20:35] impittman commented on #14
When attempting to add a new project today, Lee and I had no success in creating a project. I imputed a lat/long as well as the actual address but this did not resolve the issue. The same error message as previously shown occurred.

[2017-11-28 20:38] impittman opened #27 "Unable to edit Existing Projects in Admin"
When attempting to edit Project Details in the Admin section, an error message was received. The steps taken to edit the Project Details tab:
Admin – Project – Project Details – Selected an “Active Project” -  Edit button - Edit - click Save

Error Message Received when saving:
![cant add proj](https://user-images.githubusercontent.com/16418393/33343030-0258e370-d452-11e7-9112-ce54683e8958.png)

[2017-11-28 20:46] impittman opened #28 "Map Table of Contents- Change label names"
In the Map Table of Contents, please change the following:

Under ES2M BMPs
 -Change es2m_bmps.DBO.ES2M_BMPS  to ES2M BMPs

![map 2](https://user-images.githubusercontent.com/16418393/33343413-3459d19e-d453-11e7-9f3e-e74847fbaf1a.JPG)

Under ES2M Projects
-Change Contract_Events to Contract Events

![map 1](https://user-images.githubusercontent.com/16418393/33343383-20b99b7e-d453-11e7-80ab-d0ace36

[2017-11-28 21:13] impittman opened #29 "No results were shown in the Map's Identify Option/Results list"
When zoomed in to a feature, I selected the identify tool and clicked on the point (pictured below). No results were present in the Identify Results area either or on the screen any where I could find. Is this correct?

![id map issue](https://user-images.githubusercontent.com/16418393/33343688-3d63b5c4-d454-11e7-95c5-a33f0ad5f4fd.JPG)

[2017-11-29 15:29] impittman opened #30 "Warning Message should be added when attempting to add an existing BMP type"
Under Admin - Config

Currently, when a user tries to add a BMP type that already exists in the BMP Checklists Configuration, there is no warning to the user that the BMP exists already in the checklist. It would be helpful to have a prompt pop up when a user does attempt to add an existing BMP type to the list that suggests editing the existing BMP instead and to also prevent the add from occurri

[2017-11-29 15:34] impittman opened #31 "Change date format in Admin-Config to DD/MM/YYYY"
The current date format in the BMP Checklist Configuration (Admin - Config) is in MM/DD/YYYY. Please change it to DD/MM/YYYY.
![cofig date](https://user-images.githubusercontent.com/16418393/33383250-d11c13d2-d4f0-11e7-92d1-719ad3751ed4.JPG)

[2017-11-29 15:41] impittman opened #32 "Change checkbox to prompt in BMP Checklists Configuration"
Currently, the "Upload Revised Checklist" is a checkbox when adding or editing a new BMP to the BMP Checklists Configuration (Admin - Config). After talking with Lee, it seems a prompt asking the user if they want to upload a revised checklist instead of checkbox may be a better option. It would be ideal if this prompt only appeared when the user is in an edit session and not creating a new BMP to

[2017-11-29 16:00] impittman opened #33 "Remove drop down arrow, forms, and projects from the Inspections link"
Since the "Forms" link is inactive/removed under the Inspections link, Lee suggested that Forms, Projects and the drop down arrow should be removed. Instead the user should just have to click on Inspections and be directed to the forms page.

![remove links](https://user-images.githubusercontent.com/16418393/33384588-6b0b9406-d4f4-11e7-9bdb-003fa4941e27.JPG)

[2017-11-30 16:13] kanglu666 commented on #29
not click, drag an extent to do the identify

[2017-11-30 16:18] impittman opened #34 "Fix spelling in pop up box that appears after add/edit in Present During Inspection"
Please change "presnet" to "present" in the pop up box below. I received this message by going to Inspection Forms-Present During Inspection - Add or Edit (either option produces same message).

![fix popup](https://user-images.githubusercontent.com/16418393/33441187-11b574cc-d5c0-11e7-8b5f-e8a68093f657.png)

[2017-11-30 16:22] impittman opened #35 "Is the DEFECIENT STRING box needed for Deficiencies form?"
On the form below, there is the highlighted box that will populate "Yes" or "No" depending on what the value is set for "Spec is deficient" directly above it. Can the DEFICIENTSTRING box be removed? This is on the deficiencies form in Inspections:

![deficient string](https://user-images.githubusercontent.com/16418393/33441395-91ba7c12-d5c0-11e7-92d3-83ba71ce3cfd.png)
.

[2017-11-30 16:26] impittman opened #36 "Change pop up box when adding a new inspection"
Please change "have" to "has" in the pop up box below. This message occurs when creating a new inspection form under the project.

![inspection edit](https://user-images.githubusercontent.com/16418393/33441711-53974770-d5c1-11e7-83cf-0782c5f5cf35.png)

[2017-11-30 16:30] impittman opened #37 "Please change the Date to MM/DD/YYYY in the Deficiencies form"
Please change the Date to MM/DD/YYYY in the "Deficiencies" form, found under "Specifications" in the Inspection Form.

[2017-11-30 17:17] kanglu666 commented on #27
updated, ready for testing in next release

[2017-11-30 19:44] kanglu666 commented on #18
edit and add new photo functions work fine.
the "Photo Link" is a hyperlink to view the selected photo in full size

[2017-12-05 15:02] impittman commented on #18
Ok this makes sense from a functional standpoint. As a user, it seemed as though I should add a photo here for the site location. Lee this is something that may need to be pointed out in a user guide or something as to where the photos should be uploaded and that this a hyper link to associate the attached photo to the location to prevent confusion.

[2017-12-06 16:18] kanglu666 commented on #37
updated, ready for testing in next release

[2017-12-06 16:19] kanglu666 commented on #36
updated, ready for testing in next release

[2017-12-06 16:23] kanglu666 commented on #34
updated, ready for testing in next release

[2017-12-06 16:26] kanglu666 commented on #31
updated, ready for testing in next release

[2017-12-06 16:28] kanglu666 commented on #16
updated, ready for testing in next release

[2017-12-06 16:30] kanglu666 commented on #17
updated, ready for testing in next release

[2017-12-06 16:35] kanglu666 commented on #21
it is set the way as you state above. please test.

[2017-12-06 16:41] kanglu666 commented on #19
updated, ready for testing in next release

[2017-12-06 18:10] kanglu666 commented on #20
updated, ready for testing in next release

[2017-12-07 14:39] kanglu666 commented on #24
updated, ready for testing in next release

[2017-12-07 14:45] kanglu666 commented on #26
updated, ready for testing in next release

[2017-12-08 15:03] kanglu666 commented on #28
updated, ready for testing in next release

[2017-12-08 15:17] kanglu666 commented on #33
updated, ready for testing in next release

[2017-12-08 15:20] kanglu666 commented on #14
working fine, please test in next release

[2017-12-12 15:25] kanglu666 commented on #35
DEFICIENTSTRING box has been removed, ready for testing in next release

[2017-12-12 15:32] kanglu666 commented on #25
logic:
1: when the user select an inspection record, system will call a web service to get the nearest weather station based on the selected inspection's contract location

2: when the user click the weather page to view the weather, the system will call web service based on the Station and the inspection Date to get the weather information (one record)

3: user click the "Load More" button to loa

[2017-12-13 13:03] impittman commented on #21
Please change the word "do" to "doing" at the end of the phrase.

[2017-12-13 13:12] impittman commented on #25
Thanks for the clarification. By using a different user name and the steps above, it works as outlined.

[2017-12-15 17:00] kanglu666 commented on #30
updated, ready for testing in next release

[2017-12-15 17:01] kanglu666 commented on #23
updated, ready for testing in next release

[2017-12-15 18:37] kanglu666 commented on #21
updated, ready for testing in next release

[2017-12-19 16:03] kanglu666 commented on #22
inspections: project team form updated
inspections: project attachment form updated
inspections: project SWM Facilities form updated
inspections: Inspection Deficiency form updated （IRF， CDF）
inspections: Inspection attachment form updated
inspections: Inspection specification Deficiency form updated （IRF， CDF）
inspections: Inspection specification Photo form updated
inspections: Vegetation Seedin

[2017-12-22 15:07] kanglu666 commented on #22
updated, ready for testing in next release

[2017-12-29 15:47] kanglu666 commented on #32
updated, ready for testing in next release

[2018-01-02 19:06] impittman commented on #1
tested, this is removed, no issue

[2018-01-02 19:06] #1 closed, assigned to leeensminger

[2018-01-02 19:13] impittman commented on #2
tested, this is issue is resolved

[2018-01-02 19:13] #2 closed, assigned to leeensminger

[2018-01-02 19:22] impittman commented on #3
tested, this is resolved

[2018-01-02 19:22] #3 closed, assigned to leeensminger

[2018-01-02 19:29] impittman commented on #4
tested, this issue is resloved

[2018-01-02 19:29] #4 closed, assigned to leeensminger

[2018-01-02 19:35] impittman commented on #5
this issues is resolved under the inspection rating form - notes section

[2018-01-02 19:35] #5 closed, assigned to leeensminger

[2018-01-02 19:40] impittman commented on #6
Have we heard anything back from the stakeholders regarding inclusion?

[2018-01-02 19:57] impittman commented on #8
this issue is resolved

[2018-01-02 19:57] #8 closed, assigned to leeensminger

[2018-01-02 19:58] impittman commented on #9
this issue is resolved

[2018-01-02 19:58] #9 closed, assigned to leeensminger

[2018-01-02 19:59] impittman commented on #10
This issue is resolved

[2018-01-02 19:59] #10 closed, assigned to leeensminger

[2018-01-02 20:01] impittman commented on #12
this issue is resolved

[2018-01-02 20:01] #12 closed, assigned to leeensminger

[2018-01-02 20:03] impittman commented on #13
this issue is resolved

[2018-01-02 20:03] #13 closed, assigned to leeensminger

[2018-01-02 20:16] impittman commented on #16
This seems updated in Admin Forms, the date field is a bit long, but it does not look bad in the Admin Forms.  Can the filter lengths also be updated in the Inspection - Forms section. See below for example:

![dynamic filter](https://user-images.githubusercontent.com/16418393/34498483-c1272418-efcf-11e7-81e0-6f54000aeb44.JPG)

[2018-01-02 20:18] impittman commented on #17
this issue is resolved

[2018-01-02 20:18] #17 closed, assigned to leeensminger

[2018-01-02 20:18] impittman commented on #25
this works, tested

[2018-01-02 20:18] #25 closed, assigned to leeensminger

[2018-01-02 20:20] impittman commented on #18
this will be a training guide issue, design changes may be requested as an enhancement at a later date

[2018-01-02 20:20] #18 closed, assigned to leeensminger

[2018-01-02 20:22] impittman commented on #19
issue resolved

[2018-01-02 20:22] #19 closed, assigned to leeensminger

[2018-01-02 20:24] impittman commented on #21
issue resolved

[2018-01-02 20:24] #21 closed, assigned to leeensminger

[2018-01-02 20:34] impittman commented on #22
issue resolved

[2018-01-02 20:34] #22 closed, assigned to leeensminger

[2018-01-02 20:40] impittman commented on #24
issue resolved

[2018-01-02 20:40] #24 closed, assigned to leeensminger

[2018-01-02 20:42] impittman commented on #26
issue is resolved

[2018-01-02 20:42] #26 closed, assigned to leeensminger

[2018-01-02 20:52] impittman commented on #28
The updates requested were made. However, can you please change "BaseMap" to Base Map in the Table of Contents if possible? I am not sure if the layer name is preset or not.

![toc](https://user-images.githubusercontent.com/16418393/34499412-f924fd5a-efd3-11e7-9588-737fcd0efc18.JPG)

[2018-01-02 20:53] impittman commented on #29
we will be adding this to the training guide, not an issue at this time

[2018-01-02 20:53] #29 closed, assigned to leeensminger

[2018-01-02 20:55] impittman commented on #30
warning message added, no issue

[2018-01-02 20:55] #30 closed, assigned to leeensminger

[2018-01-02 20:57] impittman commented on #31
issue resolved

[2018-01-02 20:57] #31 closed, assigned to leeensminger

[2018-01-02 21:00] impittman commented on #32
the message has been added and works

[2018-01-02 21:00] #32 closed, assigned to leeensminger

[2018-01-02 21:01] impittman commented on #33
updated, no issue

[2018-01-02 21:01] #33 closed, assigned to leeensminger

[2018-01-02 21:02] impittman commented on #34
updated, no issue

[2018-01-02 21:02] #34 closed, assigned to leeensminger

[2018-01-02 21:04] impittman commented on #35
issue resolved

[2018-01-02 21:04] #35 closed, assigned to leeensminger

[2018-01-02 21:05] impittman commented on #36
issue resolved

[2018-01-02 21:05] #36 closed, assigned to leeensminger

[2018-01-02 21:08] impittman commented on #23
fields have been added

[2018-01-02 21:08] #23 closed, assigned to leeensminger

[2018-01-02 21:20] impittman opened #38 "Change Org to Orginization in the filter header"
Under Inspection – Rating Forms – Present During Inspection

Can the circled “Org” field be changed to “Organization” similar to the other filter options and still fit in the box?

![org](https://user-images.githubusercontent.com/16418393/34500428-aeac86da-efd8-11e7-9975-567bbcc66eb2.png)

[2018-01-02 21:26] impittman opened #39 "Filter Option is not Working for Date Created in Notes"
Inspection – Inspection Rating Form- Notes- Date Created Filter
Does not work when I begin to filter on the month. I have notes that are 01/02/2018. When I search 01, nothing populates. However, when I filter 2018, the 2 notes appear. I think it is looking for year not month in the filter maybe. Please see photo examples below:

Location where I am filtering (Notes form)
![date filter 1](https://u

[2018-01-02 21:27] impittman opened #40 "Dates are NaN in the calendar under Notes when editing an Active Note to Closed"
Under Inspection Rating Form – Specification – Notes and also in Regulatory Review Form-Notes
After selecting a Specification in the list, clicking ‘Notes”, “Edit”, then selecting an active note, changing status to “Closed” the drop down calendar is NaN. This only happens when editing an “Active” note to a “Closed” note. In addition, the Date Closed for an active note is NaN/NaN/0NaN. Is this corr

[2018-01-02 21:29] impittman opened #41 "Change Spelling for Search Field in Admin - Forms"
Under Admin – Forms
Change the wording in the filter from “Submmited Date” to “Submitted Date”

![admin_form](https://user-images.githubusercontent.com/16418393/34500763-1c72d29a-efda-11e7-83fa-598462af6b64.png)

[2018-01-02 21:31] impittman opened #42 "Update Warning Message under Admin Config"
Under Admin- Config, when selecting a BMP to edit and uploading a new document to replace the existing BMP documentation an error message pops up as to be expected. In the message, please change the word “editing” to edits.

![admin_config](https://user-images.githubusercontent.com/16418393/34500825-537ed7a2-efda-11e7-841a-ac8e69192a79.png)

[2018-01-03 13:07] impittman opened #43 "Admin - Form Filters are not working"
The filters in Admin-Forms are not working. I was unable to get records for any of the filters using multiple attempts.
Example: Searched for “Pass” using the Status filter. I should see one record, but I see all records.

![filter](https://user-images.githubusercontent.com/16418393/34521686-05f9ecfa-f05d-11e7-8a49-401d66288709.png)

[2018-01-03 13:10] impittman opened #44 "Date Filter in Inspection Form is not finding records by the month, only the numeric day"
Submitted Date Filter in Inspection Forms does not fully work. When entering 10 to get October records, I am only able to see inspections from November. I think the date filter is grabbing the actual day and not the month. I further tested by adding 09 to the filter and got no results for September. However, when using 14, I saw September records occurring on 9/14. The filter should look for month

[2018-01-03 13:27] impittman opened #45 "Update Message Received in Admin"
When completing these tasks:
Admin – Project – Specification - Delete Specification
Admin – Project – Project Team - Delete Team Member
Admin – Project – Attachments - Delete Attachment
Admin – Config - Delete BMP

Please update warning message. Make “Sure” lower case and change “u” to “you”.
![u to you](https://user-images.githubusercontent.com/16418393/34522291-e6a60ec6-f05f-11e7-8660-73de9b33bf

[2018-01-03 13:31] impittman opened #46 "Admin- Project List Status Filter does not distinguish between active and inactive"
In Admin - Project
For the Status Filter, when typing “Active” it also captures “Inactive”. Is there a way for this filter to only capture “Active” I think there is only 2 status, active and inactive for status type.

![status](https://user-images.githubusercontent.com/16418393/34522398-68bdfefa-f060-11e7-8750-398fb2c62392.png)

[2018-01-03 13:50] impittman commented on #27
this is now functioning properly

[2018-01-03 13:50] #27 closed, assigned to leeensminger

[2018-01-03 14:57] impittman opened #47 "Edit Message - Add New Team Member"
Admin – Project – Project Team – New Team Member
When adding a new team member, the following message appears. If it is possible, can you please remove the Proejct_Team_ID:13 at the end of this message.

![teammember](https://user-images.githubusercontent.com/16418393/34525270-55b5ced0-f06c-11e7-8bdf-0193288ff05e.png)

[2018-01-03 15:02] impittman opened #48 "Edit Message - Delete Team Member"
Admin – Project – Project Team - Delete Team Member

After confirming the deletion of a Project Team member, the following message appears. Is it possible to delete the user name (: lu.kang@kci.com) be deleted from the message?

![edit delete team](https://user-images.githubusercontent.com/16418393/34525421-e1a7414e-f06c-11e7-8edf-f14011be7e63.png)

[2018-01-03 15:07] impittman opened #49 "Edit Pop up Message in Project - Specification"
Admin – Project – Specification
When deleting a specification, the following message is displayed. Please change ”it’s associated” to “its association” . If possible, get rid of the (ID:68) as well.

![specification](https://user-images.githubusercontent.com/16418393/34525680-cfd20c00-f06d-11e7-8ddd-0b54bbb2126e.png)

[2018-01-03 15:10] impittman opened #50 "Edit Update Specification Message in Project - Specs"
Project – Specs - Update Specification
When updating/editing a Construction specification, the following message is displayed. Please change ”it’s associated” to “its association” . If possible, get rid of the (ID:61) as well.

![update specs](https://user-images.githubusercontent.com/16418393/34525833-4632af1c-f06e-11e7-9c4f-895f18fd53e3.png)

[2018-01-03 15:16] impittman opened #51 "Update final message when deleting Project in Admin-Project"
Admin- Project - Delete Project
Is there any way to remove the (Contract ID:16) in the message below? This is received when deleting a project in complete.

![delete project 2](https://user-images.githubusercontent.com/16418393/34526011-fc0dba2a-f06e-11e7-80c0-62b46d5c9430.png)

[2018-01-03 15:18] impittman opened #52 "Edit final delete message for Admin - Attachment - Delete Attachment"
Admin – Project – Attachments - Delete Attachment
Is there a way to delete the (:50) in the final message after confirming the deletion of the attachment?

![attach edit](https://user-images.githubusercontent.com/16418393/34526130-753b289c-f06f-11e7-9fe0-0ef3f0d245b6.png)

[2018-01-03 20:12] impittman opened #53 "Edit the text in final delete message Inspections - Project Team"
Inspections – Project Team Delete
After hitting “Yes” to confirm the delete of a project team member in the inspection, the following message occurs. If possible, can the user name (: lu.kang@kci.com) be deleted from the message. This happens in all inspection forms: Vegetative, Semi-Final, Final, Small Construction, Regulatory Review and should be fixed for each.

![edit delete team](https://user

[2018-01-03 20:35] impittman opened #54 "Update the message when adding a new project team under Inspection - Project Team"
When adding a new team member in the Inspection form, the following error message appears, Please remove the Proejct_Team_ID:13 at the end of this message.
![update team](https://user-images.githubusercontent.com/16418393/34538754-adc28832-f09b-11e7-8f2c-9a781962f4ef.png)

[2018-01-03 20:41] impittman opened #55 "Edit the message that appears when user deletes Attachment on Inspection Form"
Inspection – Attachment – Delete
If possible, please delete the (:50) in the message that appears when editing/saving an attachment in the Inspection forms. This happens in all inspection forms: Vegetative, Semi-Final, Final, Small Construction, Regulatory Review and should be fixed for each.

![edit attach](https://user-images.githubusercontent.com/16418393/34538948-7e7a2cc8-f09c-11e7-99aa-62def8

[2018-01-03 20:48] impittman opened #56 "Prompt user to enter value for Non Inspection Reason for the Inspection Rating Form"
Inspection Form – General Information
When an Inspection Completed = No, then the user should be forced to enter a value in the Non Inspection Reason. This should only happen when Inspection Completed = No. Possibly create a prompt when the Non Inspection Reason is not populated and the Inspection Completed = No and the user clicks “Save”. We still want the NonInspection Reason to be not populated

[2018-01-03 20:52] impittman opened #57 "Update Final Delete Message for Inspection Form- Present During Inspection"
Inspection Rating Form- Present During Inspection – Final Delete Message
If possible, can the (:12) be removed from the final message received after a delete has been confirmed? This happens on all inspection forms with "Present During Inspection".

![present during](https://user-images.githubusercontent.com/16418393/34539299-f1b6a3e6-f09d-11e7-912e-90f95638a314.png)

[2018-01-03 20:56] impittman opened #58 "Add field "Comments" and "Status" to the Deficiencies form per Requirements"
Inspection Rating Form- Specifications - Deficiencies
Comments are needed on the deficiency form per the requirements below. Please Add a “Comments” field below Due Date. Also, the requirements ask for a status “Open” or “Closed”, please add these as well.

Current state:
![deficiencies](https://user-images.githubusercontent.com/16418393/34539430-699c27f0-f09e-11e7-8118-7c3bba1fcb15.png)

Requirem

[2018-01-03 20:59] impittman opened #59 "Edit Final Delete Message in Inspection Rating Form – Notes"
Inspection Rating Form – Notes- Final Delete Message
If possible, can the (:37) be removed from the final message received after a delete has been confirmed. This happens in all inspection form with Notes and should be fixed in each.
![notes final](https://user-images.githubusercontent.com/16418393/34539579-02d0a64e-f09f-11e7-949e-f12d5aea0fc0.png)

[2018-01-03 21:04] impittman commented on #37
issue resolved

[2018-01-03 21:04] #37 closed, assigned to leeensminger

[2018-01-04 05:09] impittman opened #60 "Edit the Final Delete Message for Photos in All Inspection Forms"
If possible, please remove the (:10) from the final delete message that pops up after confirming the deletion of a photo. This occurs in all inspection forms, ex: IRF, Semi-Final, Small Project Construction

![photo final](https://user-images.githubusercontent.com/16418393/34550979-605345d8-f10d-11e7-97d7-47c8889fb84d.png)

[2018-01-04 05:11] impittman opened #61 "Edit Final Delete Message for Seeding in Vegetative Review Form"
Vegetative Review Form - Seeding Form - Final Delete Message
If possible, please remove the (:10) from the final delete message that pops up after confirming the deletion of a seeding record.

![veg seeding](https://user-images.githubusercontent.com/16418393/34551026-b195968a-f10d-11e7-94bf-ef89dccae78a.png)

[2018-01-04 05:13] impittman opened #62 "Edit Final Delete Message for Sample Location in Vegetative Review Form"
Vegetative Review Form – Sample Location- Final Delete Message
If possible, please remove the (:7) from the final delete message that pops up after confirming the deletion of a sample location.

![sample loc](https://user-images.githubusercontent.com/16418393/34551055-f2059b5c-f10d-11e7-90d7-1c5753d12276.png)

[2018-01-04 05:16] impittman opened #63 "Edit Updated Note Message for non IRF forms"
Regulatory Review Form – Notes – Adding or Updating a note
When Adding a Note in the Regulatory Review Form, the following message pops up. Since this is not an IRF form, please change the IRF to “Regulatory Review Form”. Alternatively, maybe you could just state “Selected Note has been updated!” to keep it short and limit edits.
Also, this message occurs when adding or updating notes in the follo

[2018-01-04 05:18] impittman opened #64 "Add Inspection Completed to General Form for Small Construction Diary Inspection"
Small Construction Diary Inspection - General Form:
Add in a field for “Inspection Completed” on the General form. If Inspection Completed = No, logic should be added to match the requirements below.

![req 35 4](https://user-images.githubusercontent.com/16418393/34551130-9bfa09e0-f10e-11e7-90ab-72c8e3547da8.png)

[2018-01-04 05:29] impittman commented on #20
fixed on desktop version

[2018-01-04 05:29] #20 closed, assigned to leeensminger

[2018-01-04 05:31] impittman commented on #15
does inspector = contractor in this update?

[2018-01-04 05:31] impittman commented on #14
working in new version

[2018-01-04 05:31] #14 closed, assigned to leeensminger

[2018-01-04 12:36] impittman opened #65 "Weather option does not work for Regulatory Review or Vegetative Review Forms"
When inputting an inspection record for either the Regulatory Review or Vegetative Review Forms, I am unable to view the weather. The page is blank and the option to load more does not work. I have tried entering the inspections as a rain event or not a rain event and received the same result. The weather form does populate on the IFR, Semi-Final, Final, and Small project Construction Diary.

[2018-01-04 12:42] impittman opened #66 "Set the New Inspection Form to reset values after hitting Save"
The "new inspection form" does not reset to blank values when a new inspection is added/saved on the tablet or in Desktop. It would be helpful if these values could be reset to show the user they are not editing an inspection but creating a new one.

Example: reset fields back to a blank value after new inspection is added
![make blank](https://user-images.githubusercontent.com/16418393/34563922-8

[2018-01-04 13:08] impittman opened #67 "Small area for viewing SWM Facilities in Admin – Projects on Tablet-Chrome"
Tablet – Ipad  and Droid Format Issue, Chrome
SWM Facilities in Admin – Projects.
In landscape format, the BMP numbers are hard to see. Is there a way that the other sections either above (Project List) or below (BMP Status) could be smaller to help show the SMW Facility to the user Vertically, the data is visible? It is our outstanding that landscape is the preferred viewing option.
![img_0006](h

[2018-01-04 13:09] impittman opened #68 "Attachments are not visible in Landscape using Tablet in Chrome"
Ipad or Droid in Chrome
Attachments in Admin – Projects. In landscape format, the attachments are not visible. You have to swap to vertical to see them.

![img_0007](https://user-images.githubusercontent.com/16418393/34564856-7b99af42-f150-11e7-997c-be66c9d960b2.PNG)

[2018-01-04 13:12] impittman opened #69 "Edit, Add, Delete Team Members is not visible on tablet for Inspections – Project Team"
Ipad or Droid- chrome
Inspections – Project Team. The bottom options to Edit, Add, or Delete Team Members is not visible in landscape. This makes editing, adding difficult without going to portrait mode.
![img_0008](https://user-images.githubusercontent.com/16418393/34564945-c40dd4ba-f150-11e7-915f-507dc27ac51d.PNG)

[2018-01-04 13:15] impittman opened #70 "Options to Edit Attachments in Inspection-Attachments are not visible in tablet"
Ipad/Droid in Chrome
Inspection – Attachments
The bottom options to Edit, Add, or Delete Attachment is not visible in landscape. This makes editing, adding difficult without going to portrait mode.

![img_0009](https://user-images.githubusercontent.com/16418393/34565037-3d39c0ba-f151-11e7-9de6-268ef4c337fc.PNG)

[2018-01-04 13:18] impittman opened #71 "Options to Edit BMP Status or Add Files is not visible in landscape in Inspection – SWM Facilities"
Ipad or Droid in Chrome
Inspection – SWM Facilities
The bottom options to Edit BMP Status or Add Files is not visible in landscape. This makes editing, adding difficult without going to portrait mode.

![img_0010](https://user-images.githubusercontent.com/16418393/34565168-a801c29e-f151-11e7-86c5-263464aa6e4c.PNG)

[2018-01-04 18:42] kanglu666 commented on #43
updated, ready for testing in next release

[2018-01-05 15:22] impittman opened #72 "Last Inspection Date does not automoatically populate on the General Form"
The requirements state that the Last Inspection Date should populate automatically. This does not happen on the general form as intended.

Current General Form- Last Inspection Date shows blank, user has to add last inspection date manually.
![last_ispect_date](https://user-images.githubusercontent.com/16418393/34615199-f082e752-f22b-11e7-83b3-f1e7bb279817.JPG)

Requirement for Reference
![req 12

[2018-01-05 15:33] impittman opened #73 "When a Deficiency is set from Yes to No on an non-submitted form, associated child records need to be deleted"
Please see the requirement below and an example of what should happen when the Deficiency is updated from Yes to No for an non submitted inspection form. This currently is not working as defined:

Req 14.3
![req 14 3](https://user-images.githubusercontent.com/16418393/34615682-ab3181a2-f22d-11e7-992a-959e3a993dd1.png)

Here is a sample use case to which req. 14.3 is speaking:  An inspector finds a

[2018-01-05 15:46] impittman opened #74 "Add option to delete non submitted inspection form"
-Requirement 12.9 states that the system will allow a user to delete the Inspection Form, if not submitted. However, there is no option to delete a form. We need to have a delete option for inspections that are not submitted.

Requirement for Reference
![12 9](https://user-images.githubusercontent.com/16418393/34616233-81e9974c-f22f-11e7-8bae-4c4866ed2141.JPG)

[2018-01-05 15:50] impittman opened #75 "Add Comment to Photo Form, Delete Description"
We need to add a Comment field that links comments to the Comment field in the database on the Photo Form. Delete Description field currently on the form.

![photo comment](https://user-images.githubusercontent.com/16418393/34616383-03993310-f230-11e7-9fb4-36137dd77f10.JPG)

[2018-01-05 16:21] impittman opened #76 "Photo Form for Vegetative Review Form-Change the word Location to Station."
Change the word Location to Station on the form below.

![vegetative photo form fix](https://user-images.githubusercontent.com/16418393/34617805-7cd2c1e8-f234-11e7-8540-fd2ee05a3706.JPG)

[2018-01-05 16:28] impittman opened #77 "Change Description to Comments (free text field) on the Sample Location form for the Vegetative Review Form."
Change Description to Comments (free text field) on the Sample Location form for the Vegetative Review Form.

![description to comment](https://user-images.githubusercontent.com/16418393/34618037-68d24ce4-f235-11e7-9db2-ae4c19c23e74.JPG)

[2018-01-05 16:32] impittman commented on #58
These fields can be left off

[2018-01-05 16:32] #58 closed, assigned to nobody

[2018-01-05 16:36] impittman opened #78 "Add a Comments to the Photos form associated with the Regulatory Review Form."
Add a Comments (free text field) to the Photos form for the Regulatory Review Form.
![reg photo issue](https://user-images.githubusercontent.com/16418393/34618391-88a2b918-f236-11e7-8e8f-f2e1151fe5d7.JPG)

[2018-01-05 18:10] impittman opened #79 "Change Description to Comments in the Seeding Form for Vegetative Review Form"
Please change the "Description" to "Comments" in the Seeding Form on the Vegetative Review Form.
![veg form update](https://user-images.githubusercontent.com/16418393/34622059-8abb05a4-f243-11e7-8dc7-faa50c08204d.JPG)

[2018-01-05 18:12] impittman opened #80 "Add N/A to the Seeding Type Drop Down Box on the Seeding Form"
Please Add "N/A" to the Seeding Type Drop Down Box on the Seeding Form for the Vegetative Review.

![veg form update](https://user-images.githubusercontent.com/16418393/34622142-dd5d1856-f243-11e7-9689-a61ff81fed55.JPG)

[2018-01-05 18:21] impittman opened #81 "Where is the ‘Meet Project Supervisor’ data currently being written in the database?"
Where is the ‘Meet Project Supervisor’ data currently being written in the database? For example, when setting up an initial inspection, the user is prompted to answer if they met with a project manager or attended a PreCon meeting (see below).  We are trying to determine where this is being written in the database and if the fields are not, you will need to add these fields to the database.

Init

[2018-01-05 18:33] impittman opened #82 "Warning message and preventing user from editing another record while in edit mode does not work"
In testing, I was able to select a record to edit, make a change, but not save it, then go to another form edit, not save, etc. without getting a message that I am currently in edit mode as expected. In the meeting on 1/15/2018, it was suggested that when a user is in edit mode the following occurs:
-Lock the grid and the left panel to not allow a user to navigate out of the edit session.
-Hide th

[2018-01-05 18:39] kanglu666 commented on #56
working on  it

[2018-01-05 18:39] impittman opened #83 "Please explain the logic behind populating the Note Number on the Photo Form"
When creating a note in the inspection or for a deficiency, an auto-generated note number is created. However, a deficiency with a note and photo does not show the Note Number on the form below. Where does the note number come from on the Photo Form below and does it relate to the note number for a deficiency with a photo?

![note number](https://user-images.githubusercontent.com/16418393/34623074

[2018-01-05 18:42] kanglu666 commented on #65
after test, looks it works fine, please test.

[2018-01-08 12:59] impittman opened #84 "Update the Inspector time in/out on the General Information form"
Inspector time in/out on the General Information:
When Inspection Type = Inspection Rating Form and Inspection Reason = Follow Up, then inspector time in and time out are required.  Otherwise, they are optional.
Also, if the  user tries to save a General Information form with null or empty time in/out, the system should provide a notification message, indicating that the time in/out is required.

[2018-01-08 13:04] impittman opened #85 "Remove the Contract ID field from the New Inspection form"
Remove the Contract ID field from the New Inspection form. This is just a database key field so we should remove it from this UI form.
![inspection remove](https://user-images.githubusercontent.com/16418393/34671915-5548daf8-f474-11e7-8672-7f308a762501.JPG)

[2018-01-08 13:08] impittman opened #86 "Remove Drop Downs for Time in/Time Out from the General Info Form"
Remove Drop Downs for Time in/Time Out from the General Info Form. This should be a free form text for the user in order to get the precise time.

[2018-01-08 14:53] kanglu666 commented on #64
the construction diary inspections table has no  "inspection completed" field in current database.

[2018-01-08 16:03] kanglu666 commented on #67
layout update.

[2018-01-08 16:21] kanglu666 commented on #16
looks working fine on my side. please test in next release

[2018-01-09 14:48] kanglu666 commented on #71
i believe you can scroll the page up and down in tablets using finger.
please test.

[2018-01-09 14:49] kanglu666 commented on #70
test with scroll in tablets

[2018-01-09 14:50] kanglu666 commented on #69
test with scroll

[2018-01-09 14:50] kanglu666 commented on #68
test with scroll

[2018-01-09 15:07] kanglu666 commented on #86
the Time in/Time Out fields are free text fields with drop down options. please test
when users type in the time, make sure they have the right format:  00:00:00

[2018-01-09 15:14] kanglu666 commented on #83
when the photo is related to the IRF inspection and also related to a IRF_NOTE, the note number will be populated in the form above.

[2018-01-09 15:34] kanglu666 commented on #52
yes, i can update the message

[2018-01-09 15:45] impittman commented on #68
In the tablet I am using, ipad from kci, there is no option to scroll and reducing the area by using fingers to minimize/maximize the area does not work. I have collapsed the map and the left side bar as well. No scroll bar is present in the middle section for attachments.

[2018-01-09 15:47] impittman commented on #69
In the tablet I am using, ipad from kci and a personal droid, there is no option to scroll like a bar and reducing the area by using fingers to minimize/maximize the area does not work. You can manually scroll down, if the role is showing. I have collapsed the map and the left side bar as well. This primarily happens when multiple members are loaded in for clarification, resulting in the section o

[2018-01-10 01:03] impittman commented on #70
In the tablet I am using, ipad from kci and a personal droid, there is no option to scroll like a bar and reducing the area by using fingers to minimize/maximize the area does not work. I have collapsed the map and the left side bar as well. This primarily happens when multiple attachment are loaded in for clarification, resulting in the section beginning with attachment to be very minimal and not

[2018-01-10 01:07] impittman commented on #71
In the tablet I am using, ipad from kci and a personal droid, there is no option to scroll like a bar and reducing the area by using fingers to minimize/maximize the area does not work. I have collapsed the map and the left side bar as well. It is not obvious that the bottom portion of this form, beginning with "BMP Status" should be manually scrolled down to see more than one option. Pleas add a

[2018-01-10 01:13] impittman commented on #86
After talking with Lee today, these two fields need to be alphanumeric text fields. Please change the field to a text field instead.  This will ensure time is being entered correctly and more user friendly by the inspector.

[2018-01-10 01:48] impittman commented on #83
Thanks for the explanation. Is there a way to add a photo to the Notes in the Specification section. For example, in the IFR, I selected the following:
Specifications - Selected a Specification - Notes - then added a note to the form below. However, there is no option to add a photo here to this note.
![img_0014 1](https://user-images.githubusercontent.com/16418393/34752080-1a17f646-f5a8-11e7-87a2

[2018-01-10 02:26] impittman opened #87 "Hide the Reports option under the Admin tab"
Please hide or remove the "Reports" link that is under Admin. This will be a feature that may be added in at later date. For now, it needs to be removed.
![remove report](https://user-images.githubusercontent.com/16418393/34753012-91c85b18-f5ad-11e7-8720-6d06e90255b5.JPG)

[2018-01-11 14:36] kanglu666 commented on #45
will be ready for testing in next release

[2018-01-11 14:41] kanglu666 commented on #47
ready for testing in next release

[2018-01-14 19:02] impittman opened #88 "Change the General form label to "General Information""
Change the General form label to "General Information"

![general](https://user-images.githubusercontent.com/16418393/34919519-5c5d46d8-f95d-11e7-9d6e-63149ce6d9b3.JPG)

[2018-01-14 19:10] impittman opened #89 "Change Icons in the Inspection forms of ES2M"
Please update the following icons found in the Inspections forms:
Weather
![weather](https://user-images.githubusercontent.com/16418393/34919563-f15c54cc-f95d-11e7-9b01-91c08aedabf7.png)

Attachments
![attachment](https://user-images.githubusercontent.com/16418393/34919565-f9c5ab72-f95d-11e7-8882-a6987380261e.png)

Photo
![photo](https://user-images.githubusercontent.com/16418393/34919567-0817c0e8

[2018-01-14 19:44] impittman opened #90 "Change the way a New Inspection is Created"
After discussing more of the requirements in the meeting on 1/15/2018, we need to alter the form for entering a New Inspection to show the business requirements more accurately. This is an outline of how the changes should look:
-Hide all fields but inspection type.
-Keep all types currently in the inspection type listed below.
Construction Diary Form
Final
Inspection Rating Form
Regulatory Review

[2018-01-14 20:31] impittman opened #91 "Small Construction Diary General Form- change Diary Type to Inspection Type"
Small Construction Diary General Form- change Diary Type to Inspection Type
![construction gen form](https://user-images.githubusercontent.com/16418393/34920387-b86e5bb8-f969-11e7-8896-d7de82fd0f59.png)

[2018-01-14 20:35] impittman opened #92 "Edits for IFR- General Form"
Add to the General Form:
Pre con meeting attended? – Yes/No option. There also needs to be a comment field to capture comments if the answer is “NO”

Met with Project Supervisor?- Yes/No option. There also needs to be a comment field to capture comments if the answer is “NO”

This should only come up for the first IFR inspection added to the project.

[2018-01-14 20:49] impittman opened #93 "In Vegetative Review –General Form, change Status to Inspection Reason and add Last Inspection Date"
In Vegetative Review –General Form, change Status to Inspection Reason and add Last Inspection Date

![veg insp change](https://user-images.githubusercontent.com/16418393/34920538-527fd90a-f96c-11e7-8598-b1a187fe148e.png)

[2018-01-14 22:04] leeensminger opened #94 "Change ES2M Web Viewer icon at root level"
Change this icon:

![image](https://user-images.githubusercontent.com/4103847/34921196-da50e894-f94c-11e7-8a3b-663661aed71f.png)

To use this:
http://fontawesome.io/icon/book/
![image](https://user-images.githubusercontent.com/4103847/34922067-cb611186-f958-11e7-9594-d22e77c8839a.png)

[2018-01-15 14:33] leeensminger opened #95 "Insert regulatory text functionality"
Within inspections, for a given specification - when the user clicks the "Regulatory" button, the system should display a new card, and display the regulatory text.  Regulatory text has just been updated within the following Excel:
M:\2014\17141728.A\Reports\ES2M\Design\Data_Model\Data_Seed\SampleData_v1.1.xlsx
tab = **MASTER_SPECIFICATIONS**

![image](https://user-images.githubusercontent.com/410

[2018-01-15 15:13] kanglu666 commented on #93
there are no "Inspection Reason and "Last Inspection Date"  fields in [VEGETATION_EVALUATION] table

the status value is coming from "VEG_EVAL_STATUS_ID" field.

[2018-01-15 15:26] impittman commented on #93
The label circled on the form needs to be changed to reflect either "Evaluation Status" or "Inspection Reason".

I am confirming with Lee if we need to definitely add the "Last Inspection Date". If the case, we will have to add the field to the database.

[2018-01-15 19:02] impittman commented on #71
In the meeting on 1/15/2018, it was suggested to change the layout of the form to resolve the issue. Lu is going to test a couple options to see what may work best.

[2018-01-15 19:02] impittman commented on #70
In the meeting on 1/15/2018, it was suggested to change the layout of the form to resolve the issue. Lu is going to test a couple options to see what may work best.

[2018-01-15 19:03] impittman commented on #69
In the meeting on 1/15/2018, it was suggested to change the layout of the form to resolve the issue. Lu is going to test a couple options to see what may work best.

[2018-01-15 19:04] kanglu666 commented on #39
all date columns have been updated to “Jan/04/2018” format, and the filter works fine. also the sort works correct.
all columns filter width has been set to width: 100%.

[2018-01-15 19:09] impittman opened #96 "Update layout of the buttons on the inspection forms"
Determine a better layout for the buttons on the form below. This may include making the box and button color the same, changing sizes of the button/text, etc.

![buttons](https://user-images.githubusercontent.com/16418393/34957888-6c9a5660-fa27-11e7-91c5-44bf5fd05702.JPG)

[2018-01-15 20:39] kanglu666 commented on #44
date format has been updated to "Nov/01/2017". filter should be work.

[2018-01-16 05:38] impittman opened #97 "Update circled form fields found in Inspection-Project team"
In the meeting on 1/15/2018, we discussed making the circled part of the form contain only 2 lines.
Line 1 fields: Role and Name
Line 2 fields: Company and Name

![proj team](https://user-images.githubusercontent.com/16418393/34973388-4166a4aa-fa7f-11e7-8cba-5692de2e3ae9.JPG)

[2018-01-16 05:41] impittman opened #98 "Update circled form fields found in Inspection-Attachments"
In the meeting on 1/15/2018, we discussed making the fields in circled part of the form to occur on 2 or 3 lines.
Line 1: Attachment type and filename
Line 2: Comment and File

If more space is need for comments field, line 3 could be filename.

![attachment fields](https://user-images.githubusercontent.com/16418393/34973506-eab0c446-fa7f-11e7-8868-33cd0b9b708f.JPG)

[2018-01-16 05:44] impittman opened #99 "Update circled part of form fields in Inspection - SWM Facilities"
In the meeting on 1/15/2018, we discussed making the fields in circled part of the form to occur on 2 lines.

Line 1: BMP Status and BMP type
Line 2: File

![swm](https://user-images.githubusercontent.com/16418393/34973556-40b9cdb0-fa80-11e7-9883-1cb0db588c79.JPG)

[2018-01-16 19:04] kanglu666 commented on #72
updated, ready for testing in next release

[2018-01-16 19:41] kanglu666 commented on #84
updated, ready for testing in next release

[2018-01-16 20:22] kanglu666 commented on #90
updated, ready for testing in next release

[2018-01-17 19:00] kanglu666 commented on #95
"Regulatory" field has been added in MASTER_SPECIFICATIONS table for current database and data populated for this field.
web service updated, UI and function updated.
ready for testing in next release

[2018-01-17 19:02] kanglu666 commented on #86
these two fields have "Time" type in database, it must be timefield in the UI.
when users type in the time, make sure they have the right format: 00:00:00

[2018-01-17 20:05] kanglu666 commented on #82
logic updated in all inspection forms, ready for testing in next release

[2018-01-18 15:02] kanglu666 commented on #64
Inspection Completed  field has been added in to construction diary inspection table in database.
need to build the logic;
logic built in the UI, ready for testing in next relesae

[2018-01-18 17:02] kanglu666 commented on #46
updated, rewrite the filter module. ready for testing in next release

[2018-01-18 18:07] kanglu666 commented on #40
updated, ready for testing in next release

[2018-01-22 19:09] kanglu666 commented on #69
layout updated, ready for testing in dev

[2018-01-22 19:09] kanglu666 commented on #70
layout updated, ready for testing in dev

[2018-01-22 19:10] kanglu666 commented on #71
layout updated, ready for testing in dev

[2018-01-23 15:13] impittman commented on #94
updated and looks good

[2018-01-23 15:13] #94 closed, assigned to leeensminger

[2018-01-23 15:15] impittman commented on #68
This looks great and works well.

[2018-01-23 15:15] #68 closed, assigned to kanglu666

[2018-01-23 15:36] impittman opened #100 "The drop downs in the New Inspection Form do not work for all options except "Inspection Type"."
The drop downs in the New Inspection Form do not work for all options except "Inspection Type". When I attempt to select the drop down box, nothing happed and I get a red exclamation mark as well. I tested on the desktop too incase the ipad was the problem. Same issue.

To clarify further:
The fields "Meet Project Supervisor" and "PreCon Meeting Attended" should only be able to be selected for the

[2018-01-23 15:45] impittman commented on #97
This looks great and works well

[2018-01-23 15:46] impittman commented on #98
This looks great and works well

[2018-01-23 16:00] impittman commented on #89
updated and looks great

[2018-01-23 16:00] #89 closed, assigned to kanglu666

[2018-01-23 16:06] impittman commented on #95
This is updated and matches the source data.

[2018-01-23 16:08] #98 closed, assigned to kanglu666

[2018-01-23 16:10] impittman commented on #93
@leeensminger  Please see comments above and see if we need to add these fields or if it was a change in requirements.

[2018-01-23 16:11] impittman commented on #92
This is being addressed on the new inspection form, ok to close out

[2018-01-23 16:11] #92 closed, assigned to kanglu666

[2018-01-23 16:13] impittman commented on #91
updated as requested, drop down works

[2018-01-23 16:13] #91 closed, assigned to leeensminger

[2018-01-23 16:23] impittman commented on #86
This works using your format of 00:00:00. Training guide will address this in detail.

[2018-01-23 16:23] #86 closed, assigned to kanglu666

[2018-01-23 17:41] impittman commented on #84
This works in the newest version, closing out.

[2018-01-23 17:41] #84 closed, assigned to kanglu666

[2018-01-23 18:04] impittman opened #101 "Photo edits"
Once a photo is entered into the inspection, the actual file and image cannot be changed. It can be deleted, however. Is this the intent to not allow the image itself to be edited, only the comments, date taken, etc.?

[2018-01-23 18:09] impittman commented on #82
The new fix is great and works on every test I ran, closing this out.

[2018-01-23 18:09] #82 closed, assigned to kanglu666

[2018-01-23 18:18] impittman commented on #79
Update looks good, closing this one.

[2018-01-23 18:18] #79 closed, assigned to kanglu666

[2018-01-23 18:24] impittman commented on #65
This is working in the latest version, closing out.

[2018-01-23 18:24] #65 closed, assigned to impittman

[2018-01-23 18:29] impittman commented on #64
Thanks, closing this out as complete

[2018-01-23 18:29] #64 closed, assigned to leeensminger

[2018-01-23 18:35] impittman commented on #56
This works in latest version, closing out issue.

[2018-01-23 18:35] #56 closed, assigned to kanglu666

[2018-01-23 18:36] impittman commented on #53
updated in latest version, closing issue

[2018-01-23 18:36] #53 closed, assigned to kanglu666

[2018-01-23 18:38] impittman commented on #39
the change in format resolved the filter issue, works well, closing out issue

[2018-01-23 18:38] #39 closed, assigned to kanglu666

[2018-01-23 18:40] impittman commented on #38
update in latest version, closing out issue

[2018-01-23 18:40] #38 closed, assigned to kanglu666

[2018-01-23 18:41] impittman commented on #44
this new format resolved the filter issue, closing out

[2018-01-23 18:41] #44 closed, assigned to kanglu666

[2018-01-23 18:43] impittman commented on #62
issue resolved, closing out this

[2018-01-23 18:43] #62 closed, assigned to kanglu666

[2018-01-23 18:44] impittman commented on #85
this is removed, closing issue

[2018-01-23 18:44] #85 closed, assigned to kanglu666

[2018-01-23 18:45] impittman commented on #66
the new design will eliminate this issue, closing this

[2018-01-23 18:45] #66 closed, assigned to kanglu666

[2018-01-23 18:47] impittman commented on #61
this is corrected in latest version, closing out

[2018-01-23 18:47] #61 closed, assigned to kanglu666

[2018-01-23 18:52] impittman commented on #57
this is updated, closing issue

[2018-01-23 18:52] #57 closed, assigned to kanglu666

[2018-01-23 18:54] impittman commented on #55
updated, closing issue

[2018-01-23 18:54] #55 closed, assigned to kanglu666

[2018-01-23 19:04] impittman commented on #54
update, closing out

[2018-01-23 19:05] #54 closed, assigned to kanglu666

[2018-01-23 19:13] impittman opened #102 "Could not delete notes with associated photos in the IRF"
I received the message below when trying to delete a note with an associated photo. The notes without a photo deleted with no problem.

![deleting notes in irf error message](https://user-images.githubusercontent.com/16418393/35295500-39dafcd4-0071-11e8-9d77-836d52c4ca3c.JPG)

[2018-01-23 19:15] impittman commented on #59
this message is updated in latest version, closing

[2018-01-23 19:15] #59 closed, assigned to kanglu666

[2018-01-23 19:21] impittman commented on #51
updated, closing issue

[2018-01-23 19:21] #51 closed, assigned to kanglu666

[2018-01-23 19:22] impittman commented on #52
updated, closing issue

[2018-01-23 19:22] #52 closed, assigned to kanglu666

[2018-01-23 19:26] impittman commented on #50
updated, closing issue

[2018-01-23 19:26] #50 closed, assigned to kanglu666

[2018-01-23 19:27] impittman commented on #41
updated, closing issue

[2018-01-23 19:27] #41 closed, assigned to kanglu666

[2018-01-23 19:29] impittman commented on #42
this is updated, closing issue

[2018-01-23 19:29] #42 closed, assigned to kanglu666

[2018-01-23 19:32] impittman opened #103 "Cannot download BMP Checklist from Admin-Config"
When selecting a BMP and clicking the download button to download the checklist, I get a 404 server error.

![404](https://user-images.githubusercontent.com/16418393/35296467-06862554-0074-11e8-91cd-ff7ab9c893dd.JPG)

[2018-01-23 19:32] impittman commented on #48
updated, closing issue

[2018-01-23 19:32] #48 closed, assigned to kanglu666

[2018-01-23 19:33] impittman commented on #47
updated, closing issue

[2018-01-23 19:33] #47 closed, assigned to kanglu666

[2018-01-23 19:37] impittman commented on #63
Please see initial comments, the "IRF" part needs to change for notes that are not part of the IRF inspection type, like the regulatory review for example.

[2018-01-23 19:48] impittman commented on #45
updated, closing issue

[2018-01-23 19:48] #45 closed, assigned to kanglu666

[2018-01-23 20:03] impittman commented on #69
this is resolved and works well, closing issue

[2018-01-23 20:03] #69 closed, assigned to leeensminger

[2018-01-23 20:04] impittman commented on #71
this is updated and looks good, closing issue

[2018-01-23 20:04] #71 closed, assigned to leeensminger

[2018-01-23 20:05] impittman commented on #70
this format is updated and looks good, closing issue

[2018-01-23 20:05] #70 closed, assigned to leeensminger

[2018-01-23 20:06] impittman commented on #67
updates look good, closing issue

[2018-01-23 20:06] #67 closed, assigned to kanglu666

[2018-01-23 20:12] impittman commented on #60
updated, closing issue

[2018-01-23 20:12] #60 closed, assigned to kanglu666

[2018-01-23 20:14] impittman commented on #43
this is working, closing issue

[2018-01-23 20:14] #43 closed, assigned to kanglu666

[2018-01-23 20:15] impittman commented on #46
this works, closing issue

[2018-01-23 20:15] #46 closed, assigned to kanglu666

[2018-01-23 20:17] impittman commented on #16
this looks like it is working ok, we can reopen if that changes.

[2018-01-23 20:17] #16 closed, assigned to leeensminger

[2018-01-23 20:18] impittman commented on #7
this process has changed for inspections with the lockout for the user to navigate anywhere else without saving/canceling edit, therefore this is closed

[2018-01-23 20:18] #7 closed, assigned to leeensminger

[2018-01-23 20:20] impittman commented on #11
this can be closed, non issue after more discussions

[2018-01-23 20:20] #11 closed, assigned to leeensminger

[2018-01-23 20:23] impittman opened #104 "Not getting emails after submitting the inspection"
We did not get emails once an inspection was submitted. I closed an IRF under this project:
![no_email](https://user-images.githubusercontent.com/16418393/35298816-32354818-007b-11e8-8e9b-15d828c53f55.JPG)

[2018-01-24 00:57] impittman commented on #99
this appears to be fixed in version from 1/23/2018 testing, closing for now

[2018-01-24 00:57] #99 closed, assigned to kanglu666

[2018-01-24 00:58] impittman commented on #97
this appears to be fixed in 1/23/2018 version tested, closing for now

[2018-01-24 00:58] #97 closed, assigned to kanglu666

[2018-01-24 01:03] #95 closed, assigned to leeensminger

[2018-01-24 01:11] impittman commented on #49
the warning message is updated, closing issue

[2018-01-24 01:11] #49 closed, assigned to kanglu666

[2018-01-24 01:16] impittman commented on #40
this is updated in testing, closing issue

[2018-01-24 01:16] #40 closed, assigned to kanglu666

[2018-01-25 16:11] kanglu666 commented on #100
fixed, ready for testing

[2018-01-25 16:57] leeensminger opened #105 "Admin - Project - Project Details - Rename "Date Fields" label"
Please rename this to "Project Dates"

![image](https://user-images.githubusercontent.com/4103847/35401245-f8b83922-01c6-11e8-8b55-f53679cfcee1.png)

[2018-01-25 17:05] leeensminger opened #106 "Admin - Submitted Inspection Forms - insert placeholder text"
In the Admin / Submitted Inspection Forms page, if there are no inspection forms within the defined timeframe, the table is empty.  When this is the case, please insert text in this area that states:

"No inspection forms submitted within the last 90 days.  Please perform a search to view submitted inspections."

![image](https://user-images.githubusercontent.com/4103847/35401594-f5c06f40-01c7-11e

[2018-01-25 17:13] leeensminger opened #107 "Admin - Submitted Inspection Forms - PM Comment does not save"
The PM Comment does not appear to save.  Is this being impacted by a rule of some kind?

To reproduce:
1. I'm logged in as admin@kci.com
2. Search and find a submitted inspection.  I reproduced this on several submitted inspections.
3. Click Edit Comment at the PM Comment component.  Type a comment in the box.
4. Click Save.
5. Select a different inspection in the grid.  The PM Comment should upda

[2018-01-26 09:46] leeensminger opened #108 "Inspections - Specifications List - add filter group category "All""
In the inspection Specifications, the user can select a spec category to filter the specifications displayed.  This works well.  But when the user selects a spec group, they cannot go back to the default view of "all specs".  Please add a category in the dropdown for "All", that displays all specs.

![image](https://user-images.githubusercontent.com/4103847/35434063-bf57ef46-0253-11e8-8607-04baa72

[2018-01-26 10:44] leeensminger opened #109 "Inspections - weather"
What is the rainfall amount that currently defines a "rain event"?

[2018-01-26 11:03] leeensminger opened #110 "Inspections - Weather - Convert to Standard units"
The weather precipitation and windspeed are currently in metric units.  Please convert to standard units (rainfall = inches, and windspeed = miles per hour (mph)).

[2018-01-26 11:04] leeensminger opened #111 "Inspections - Weather - Confirm temperatures are in Fahrenheit"
It appears high and low temperatures are in Fahrenheit - please confirm

[2018-01-26 11:06] leeensminger opened #112 "Inspections - General - Time In/Out make required for all inspections"
Per new discussion with Mary 20180125, the time in and out should be required information for all inspections.

This should be enforced at time of submittal - we cannot require users to populate this when they open General Info.

[2018-01-26 11:13] leeensminger opened #113 "Admin - Submitted Inspection Forms - Submitted Date Format"
In Recent Submitted Inspection Forms, reformat the display of the dates to a more standard format.  They should be formatted as either:
11/10/2017 or
Nov 10, 2017

![image](https://user-images.githubusercontent.com/4103847/35437325-e1b7859a-025f-11e8-9c49-0eef82718db0.png)

[2018-01-26 11:18] leeensminger opened #114 "Admin - Submitted Inspection Forms - add action column to include the PDF inspection form"
Within the Submitted Inspections page, we need to provide a link to the final PDF version of the submitted inspection.  We should add an action column in this grid, to hold an icon that when clicked, opens the PDF inspection form.

![image](https://user-images.githubusercontent.com/4103847/35437464-7dbe2958-0260-11e8-9368-f17db0517668.png)

[2018-01-26 11:22] leeensminger commented on #109
Per Mary 20180125, should be 0.5"

[2018-01-26 13:56] kanglu666 commented on #80
"N/A" has been added in to the  Seeding Type look up table in database.
ready for testing

[2018-01-26 16:03] impittman commented on #113
Will this mess up the filter feature for the date? If we make this 11/10/2017 for example, it goes back to the filtering problem of getting only certain records, not all dates in November. The work around was the Month in three letters first - JAN as an example.

[2018-01-26 16:20] leeensminger commented on #113
@impittman Good point - but if we go with three letters, we need to get rid of the "/" character.

My primary concern is that "Nov/10/2017" is not an acceptable display format for a date.

[2018-01-26 16:26] impittman commented on #109
@leeensminger Is the only inspection type that the rainfall event is needed -"Small Construction Diary Form"? Just confirming as this is only inspection type I see the option to enter rainfall event and amount in.

[2018-01-26 16:38] impittman commented on #113
@leeensminger Makes sense to me, just didn't want to reinvent the problem with the 11/10/2017 example.

[2018-01-26 16:39] leeensminger commented on #109
@impittman that I think is the only place where rainfall is manually entered, yes.  But all other forms should be collecting weather data including precipitation amounts.  The Admin/Submitted Inspection Forms page has functionality to search inspection forms by rain event, which displays only those inspections where there was a rain event.  I am not sure what the current definition of "rain event"

[2018-01-26 17:01] impittman commented on #109
@leeensminger  ok good to know on the forms for entry, I didn't want to miss an update on those in case needed. My other question would be for the "Admin/Submitted Inspection Forms page has functionality" piece - I kind of just looked at this for my understanding in testing and noticed the following:

When I filtered for rain event, I got the two below in the screen shot logged in as admin:
![rain

[2018-01-26 17:08] leeensminger commented on #109
@impittman @ehsan67  Filtering by a rain event should find inspections where a rain event occurred on the inspection day.  Rain event = 0.5" or more.  Filtering by a rain event should not find inspections where a rain event occurred within 7 days, but on the day of the inspection.

[2018-01-26 17:09] leeensminger opened #115 "Inspections - Weather - Weather record date formats"
Same as #113 but in the weather page.

When user is in an inspection weather details, and clicks "Load more" to see all 7 days of weather, the weather record date is in the same funky format like "Nov/10/2017".  We should drop the "/".

[2018-01-26 21:37] leeensminger commented on #100
@kanglu666 @impittman I'm sorry, I just now saw this.  The "Meet Project Supervisor" field should be displayed for all IRF forms.  "PreCon meeting attended" is the only field that should be displayed for the first inspection on the project only, then not again on that project.

And again - if Meet Project Supervisor = No, then the system should display a comments box (required before save), where

[2018-01-29 21:03] kanglu666 commented on #104
email function has been added after inspection submitted. ready for testing in next release

[2018-01-29 21:05] kanglu666 commented on #107
updated, ready for testing in next release

[2018-01-30 16:18] kanglu666 commented on #74
delete non-submitted inspection form function has been added, ready for testing in next release

[2018-01-30 16:19] kanglu666 commented on #103
updated, ready for testing in next release

[2018-01-30 16:21] kanglu666 commented on #102
need to delete the assoiated note photo first.
updated, ready for testing in next release

[2018-01-31 04:06] impittman commented on #80
added and works in testing, can close out issue

[2018-01-31 04:06] #80 closed, assigned to leeensminger

[2018-01-31 04:13] impittman commented on #74
the delete option works for non submitted inspections, tested two different types out. Also, will not let me delete submitted inspections as to be expected. I believe this issue is resolved.

[2018-01-31 04:13] #74 closed, assigned to leeensminger

[2018-01-31 04:15] impittman commented on #103
this is working without error in testing, can close out

[2018-01-31 04:15] #103 closed, assigned to leeensminger

[2018-01-31 04:25] impittman commented on #102
this process works in testing and will be added to the training guide, I think it is ok to close issue

[2018-01-31 04:25] #102 closed, assigned to leeensminger

[2018-01-31 15:11] kanglu666 commented on #113
updated, ready for testing in next release

[2018-01-31 15:11] kanglu666 commented on #115
updated, ready for testing in next release

[2018-01-31 15:16] impittman opened #116 "Reword Delete Inspection Confirmation Message"
When selecting an inspection to delete, the message below pops up to confirm the user indeed wants to delete the record.

Please change the highlighted word "delete' to "deleted"

![delete insp](https://user-images.githubusercontent.com/16418393/35630596-be316ec2-0699-11e8-997a-0ea32e3b324c.JPG)

[2018-01-31 15:18] kanglu666 commented on #112
Time In/Out fields are only in IRF form, not in Construction diary form or  vegetative review form

[2018-01-31 15:18] kanglu666 commented on #114
Add new function for export to PDF report?

[2018-01-31 15:19] impittman opened #117 "change wording in warning message for attempting to delete a previously submitted inspection"
When attempting to delete a submitted inspection, the following message appears. Please change "deleted" to "delete".

![delete insp 2](https://user-images.githubusercontent.com/16418393/35630689-f868fd3a-0699-11e8-9ee3-107578583809.JPG)

[2018-01-31 15:22] impittman opened #118 "Reset photo data value to be blank after deleting a photo"
If possible, can the fields related to a photo get reset to appear blank when a photo is deleted? In the screen shot below, I deleted the inspection photo associated to the inspection, but the values still show in the fields. It was the only photo for this inspection.

![photo delete](https://user-images.githubusercontent.com/16418393/35630927-8733581c-069a-11e8-8cc6-7e40dfa0de25.png)

[2018-01-31 15:45] kanglu666 commented on #110
updated, ready for testing in next release

[2018-01-31 17:03] impittman commented on #100
The drops down work. However, the following logic does not work:

If Meet Project Supervisor = No, then the system should display a comments box (required before save), where they can enter a reason why they did not talk to the Project Supervisor.

There is no comment box to type a comment for this logic.

Also, the Precon Meeting attended should only be active for the first inspection of a projec

[2018-01-31 17:16] impittman commented on #72
The last inspection date does auto populate. However, the date is set to the day of the inspection created, not the last inspection date prior the new inspection.
For example, I created an IRF today (1/31/2018) and the last inspection date is also today (1/31/2018). The last inspection date should be for the last time an inspection was entered, see below.

![inspection final date](https://user-ima

[2018-01-31 17:39] impittman commented on #107
This appears to be working now, I think it is ok to close the issue out.

[2018-01-31 17:39] #107 closed, assigned to leeensminger

[2018-01-31 17:44] impittman commented on #90
This is updated, see issue #100 for further comments on the drop downs, ok to close this issue for now.

[2018-01-31 17:44] #90 closed, assigned to kanglu666

[2018-01-31 17:47] kanglu666 commented on #87
updated, ready for testing in next release

[2018-01-31 17:52] kanglu666 commented on #88
label has been changed to "General Info", Text "General Information"  does hard to fit the layout.

[2018-01-31 17:55] kanglu666 commented on #105
updated, ready for testing in next release

[2018-01-31 17:57] impittman opened #119 "Change initial default for General Form - Non Inspection Reason"
If possible, can you have the NonInspection Reason in the General Information Form be deactivated when first creating an inspection and initially filling out the general form.
Here are the steps taken to get the replicated issue:
1) Create an Inspection
2) Go to the General Form for the first time for this new inspection.
3) The Inspection Completed is defaulted to Yes
4) The Non Inspection Reason

[2018-01-31 17:59] kanglu666 commented on #106
updated, ready for testing in next release

[2018-01-31 18:27] kanglu666 commented on #108
updated, ready for testing in next release

[2018-01-31 20:14] leeensminger commented on #112
Just IRF form

[2018-02-01 16:53] kanglu666 commented on #119
updated, ready for testing in next release

[2018-02-01 17:03] kanglu666 commented on #118
updated, ready for testing in next release

[2018-02-01 19:57] impittman opened #120 "Filtering options in the Project List under Inspections"
I am testing out the filtering process for the Project List under the Inspections section (see below screenshots). When filtering, the option to enter multiple filter parameters does not function as one would expect. For example, if I have a projects that have a "32..." in the number, I can enter that and will see project that have "32...". However, if I want to narrow that down further by say als

[2018-02-01 21:56] impittman opened #121 "Change wording in project team member delete confirmation message"
Please change "user" to "member" in the confirmation message for successfully deleting a project team member.

![change message](https://user-images.githubusercontent.com/16418393/35705529-92ffd994-079a-11e8-9572-225ea84801f8.png)

[2018-02-01 21:59] impittman opened #122 "change "user" to "member" in the warning message that occurs when a user selects delete for a project team member."
Please change "user" to "member" in the warning message that occurs when a user selects delete for a project team member.

![change 2](https://user-images.githubusercontent.com/16418393/35705706-228d8ba6-079b-11e8-9793-a33c7914efa9.png)

[2018-02-02 15:38] kanglu666 commented on #93
label "Status" has been updated to "Inspection Reason"

[2018-02-02 16:04] kanglu666 commented on #121
updated, ready for testing in next release

[2018-02-02 16:05] kanglu666 commented on #116
updated, ready for testing in next release

[2018-02-02 16:06] kanglu666 commented on #122
updated, ready for testing in next release

[2018-02-02 17:32] impittman opened #123 "Edit pop up message for downloading attachment in the Attachments tab found on the Operation Form under Inspections"
Edit the pop up message for downloading an attachment in the Attachments tab found on the Operation Form under Inspections. Currently, when you hover over the icon below, the pop up message states "Download Current Checklist". This is not accurate as the user is not downloading a checklist here, but a project attachment.

![update pop up](https://user-images.githubusercontent.com/16418393/35746540

[2018-02-02 18:29] impittman opened #124 "clarify the purpose/function of the "Upload Revised Checklist" button found in Inspections - Operation Form"
Steps to see where my question stems from:
-Inspection - Operations form pops up
-Go to the SWM Facilities tab
-Click Edit for SWM Facilities

Can you clarify what the "Upload Revised Checklist" button and the associated message is referring to? Is the revised checklist the file attachment I can upload in an edit session? If so, do we need this button?

![question on upload checklist](https://user

[2018-02-05 15:45] kanglu666 commented on #117
updated, ready for testing in next release

[2018-02-05 15:49] kanglu666 commented on #123
updated, ready for testing in next release

[2018-02-05 16:11] kanglu666 commented on #111
yes, they are

[2018-02-05 16:20] kanglu666 commented on #63
all note forms message have been updated to "Selected Note has been updated!"

[2018-02-06 13:11] impittman opened #125 "Note in Small Construction Diary Specification"
There is not an option to add a Note for specifications in the Small Construction Diary Form. The other inspections have the option to attach a note to a specification. Does this need to happen here too?
Steps:
-Small Construction Diary Inspection chosen
-Click Specification
-At the bottom in other inspection forms with specifications/deficiencies, there is a note button to associate a note to a s

[2018-02-06 13:12] impittman opened #126 "relationship between deficiency and photos/notes"
From my understanding, when a user sets the  Deficiency from “yes” to “no” in an inspection specification, the system will remove the Deficiency and perform a cascading delete of any notes and photos related to the Deficiency. Where is the link between photos and notes to deficiency, these only seem to only relate to the specification and not the deficiency itself?

[2018-02-06 16:06] impittman opened #127 "Update the deficiency edit confirmation message in the IRF form"
Please update the confirmation message in the IRF form when making edits to the deficiency. Change the word "Specification" to "Deficiency" since deficiency is being edited, not the specification.

Steps to get message:
-Select an existing IRF from the inspection list that has a deficiency assigned to a specification.
-Click deficiency to get the inspection deficiency grid.
-Select a deficiency to

[2018-02-14 19:27] impittman commented on #123
works, closing this issue

[2018-02-14 19:27] #123 closed, assigned to leeensminger

[2018-02-14 19:28] impittman commented on #122
updated, closing this issue

[2018-02-14 19:28] #122 closed, assigned to leeensminger

[2018-02-14 19:36] impittman commented on #119
this updated appears to work, closing issue

[2018-02-14 19:36] #119 closed, assigned to leeensminger

[2018-02-14 19:40] impittman commented on #118
this appeared to work when testing, closing issue

[2018-02-14 19:40] #118 closed, assigned to leeensminger

[2018-02-14 19:40] impittman commented on #121
updated, closing

[2018-02-14 19:40] #121 closed, assigned to leeensminger

[2018-02-14 19:42] impittman commented on #117
updated and worked during testing, closing issue

[2018-02-14 19:42] #117 closed, assigned to leeensminger

[2018-02-14 19:44] impittman commented on #116
updated, closing issue

[2018-02-14 19:44] #116 closed, assigned to leeensminger

[2018-02-14 19:47] impittman commented on #115
new format is added, believe this can be closed
![weather format update](https://user-images.githubusercontent.com/16418393/36224553-e6aa72d2-11bf-11e8-90af-923608b68f2c.JPG)

[2018-02-14 19:47] #115 closed, assigned to leeensminger

[2018-02-14 19:52] impittman commented on #113
this appears updated, closing issue
![form submit date](https://user-images.githubusercontent.com/16418393/36224797-8a117e34-11c0-11e8-9087-64991051a675.JPG)

[2018-02-14 19:52] #113 closed, assigned to leeensminger

[2018-02-14 19:53] impittman commented on #111
closing was discussed in meeting and was ok

[2018-02-14 19:53] #111 closed, assigned to leeensminger

[2018-02-14 20:11] impittman commented on #108
a load all button has been added and it works as needed, closing

[2018-02-14 20:11] #108 closed, assigned to leeensminger

[2018-02-14 20:14] impittman commented on #106
This is updated, closing issue.

[2018-02-14 20:14] #106 closed, assigned to leeensminger

[2018-02-14 20:16] impittman commented on #105
updated, closing issue

[2018-02-14 20:16] #105 closed, assigned to leeensminger

[2018-02-14 20:21] impittman commented on #96
this is updated, closing issue

[2018-02-14 20:21] #96 closed, assigned to kanglu666

[2018-02-14 20:22] impittman commented on #93
updated based on meeting comments and changes in web viewer, closing issue

[2018-02-14 20:22] #93 closed, assigned to leeensminger, kanglu666

[2018-02-14 20:24] impittman commented on #88
changes look good, closing issue

[2018-02-14 20:24] #88 closed, assigned to leeensminger

[2018-02-14 20:24] impittman commented on #87
updated, closing issue

[2018-02-14 20:24] #87 closed, assigned to leeensminger

[2018-02-14 20:31] #81 closed, assigned to nobody

[2018-02-14 20:53] impittman commented on #63
updated, closing

[2018-02-14 20:53] #63 closed, assigned to leeensminger

[2018-02-14 20:57] impittman commented on #83
closed, related to another issue in discussion

[2018-02-14 20:57] #83 closed, assigned to kanglu666

[2018-02-18 19:11] impittman opened #128 "Fix Warning Message for Adding a New Specification Set"
Fix Warning Message for Adding a New Specification:
The message pops ups when:
-Selecting Admin
-Selecting Specs
-Clicking the + to add a new Specification in image below
![fix2](https://user-images.githubusercontent.com/16418393/36355714-47eceeae-14df-11e8-9589-e14e5f3f548a.JPG)

-Clicking Save

**Message currently, please change "u" to "you", make "Sure" all lowercase.**
![fix](https://user-imag

[2018-02-18 19:26] impittman opened #129 "Fix Message for Renaming a Specification Set"
The following message appears when attempting to rename a Specification Set. Please change "been" to "being" and "an" to "a".
![fix 3](https://user-images.githubusercontent.com/16418393/36355837-5cc86496-14e1-11e8-8f99-119f7fd37916.JPG)

Steps to get here:
-Select Admin - Specs
-Select the edit icon beside the Select a set spec” field box.
-Rename the Specification Set to the same name as a curren

[2018-02-18 19:35] impittman opened #130 "Fix Warning Message for Deleting a New Specification Set"
Fix Warning Message for Deleting a New Specification Set:
Change "Sure" to "sure" and "u" to "you"
![fix4](https://user-images.githubusercontent.com/16418393/36355930-bf150086-14e2-11e8-8ef7-8419366aa898.JPG)
 The message pops ups when:
 -Selecting Admin
 -Selecting Specs
-Clicking Delete at the end of the “Select a set spec” field box.

[2018-02-18 20:07] impittman opened #131 "Fix the message that appears when adding a Specification to the Specification Set in Admin"
Fix the message that appears when adding a Specification to the Specification Set:
Please remove the added info after the word "new!". It appears to maybe be a database field or something.
![fix 5](https://user-images.githubusercontent.com/16418393/36356246-2c8e5a14-14e7-11e8-9a42-9098fbd2a32a.JPG)

[2018-02-23 19:13] impittman opened #132 "Correct Spelling for Fianl Insp Date in Admin - Projects - Project Details form"
This form is found under:
Admin
Projects
Selecting Project Details tab in middle of page
Expand Project Date part of form

Fix spelling of "Fianl Insp Date" to "Final Insp Date"
![fix date](https://user-images.githubusercontent.com/16418393/36612086-7577cef6-18cd-11e8-98ef-bc3770a899a0.JPG)

[2018-04-02 14:42] dhenry-KCI opened #133 "Inspection Submittal"
When the user creates an inspection form the system will successfully save the information and show the form in the operations workbench. When the user clicks the "submit" button, the system presents the following error:

![es2m_submit](https://user-images.githubusercontent.com/4129185/38200413-3f5a3860-3662-11e8-95f3-16fa83cf523a.PNG)

To recreate: select the US 301 Construction Project, then try

[2018-04-04 15:52] leeensminger commented on #114
@ehsan67 May just be a placeholder for now until the reporting functionality is finalized

[2018-04-04 15:52] leeensminger commented on #28
@ehsan67 please make the base map label change @impittman describes above

[2018-04-04 17:02] impittman opened #134 "Default Due Date is 0 despite being defined in Specifications Set"
Default Due Date is 0 despite being defined in Specifications Set

Steps to find this:
1) Select an Inspection Rating Form
2) Click the Specifications button at the lower part of the form
3) Click Deficiencies
4) Make the Deficiency = Yes
5) The default date, pictured below, should be auto populated from the Specifications Set. Usually it is 21, 14 7 days, etc.
![screenshot_1](https://user-images.

[2018-04-05 09:42] leeensminger commented on #15
@impittman Inspector is different than contractor.  Contractor refers to construction contractor.
 Contractor will come from either:
1. a field in the Contracts/Projects table
if not that, then:
2. a user role within the project team

Can you identify where this information is held, and communicate to Ehsan?

[2018-04-05 09:49] leeensminger commented on #124
@impittman This button should support the following:
1. user goes to _File (upload only)_ and browses to and selects a revised checklist (PDF file) that is on their local
2. user clicks Upload Revised Checklist
3. system submits the file as the most recent checklist

The Upload Revised Checklist button should be disabled until a file has been selected in the _File (upload only)_.  If its not, plea

[2018-04-05 14:34] impittman commented on #124
@leeensminger The button gives an error message to select a BMP first. I presume that is ok. I do need to assign this as an issue since the new checklist downloaded does not overwrite the old one. Therefore, I am unsure if it is working as described.

[2018-04-05 14:43] impittman opened #135 "New BMP Checklist does not save and replace old Checklist once Uploaded"
When a user edits the BMP Checklist, the old BMP Checklist is still the document that is attached to the BMP. For example, I uploaded a new pdf Checklist using the methods below, then clicked "download current checklist". The pdf that downloaded was not the pdf I uploaded to replace the BMP checklist. It was the old one, even after refreshing and logging out/back in.

Steps to see where my questio

[2018-04-05 14:48] impittman commented on #15
@leeensminger based on your explanation, I think this is working as needed. Here is my understanding and the functionality, let me know if this is inaccurate:
The search in Admin for submitted inspection forms has the option to search by contractor. We only have Mumford and Miller right now in the database, and as expected, this pops up. Not Inspector names. If this is good, we can close out the i

[2018-04-05 14:56] impittman opened #136 "Where does the BMP Name and Number stem from?"
@leeensminger Can you let me know where the BMP Number and Name are populated? There is not an option for this in ES2M. You can only add the BMP type and checklist. Currently, all the BMPs show the same Number and Name.

![question](https://user-images.githubusercontent.com/16418393/38373657-45e52f38-38e1-11e8-8075-65b0738c3819.png)

[2018-04-05 19:47] ehsan67 commented on #132
@leeensminger KCI ready

[2018-04-05 19:49] ehsan67 commented on #134
@leeensminger KCI ready . Current project specification data had missing DefaultDueDate because of a bug in save function. I fixed that bug but in order to test, you need to change refresh the project specs

[2018-04-05 19:50] ehsan67 commented on #133
@leeensminger KCI ready

[2018-04-05 19:53] ehsan67 commented on #28
@leeensminger KCI ready

[2018-04-05 19:53] ehsan67 commented on #131
@leeensminger KCI ready

[2018-04-05 19:54] ehsan67 commented on #130
@leeensminger KCI ready

[2018-04-05 19:54] ehsan67 commented on #129
@leeensminger KCI ready

[2018-04-05 19:54] ehsan67 commented on #128
@leeensminger KCI ready

[2018-04-05 19:54] ehsan67 commented on #127
@leeensminger KCI ready

[2018-04-05 20:32] leeensminger commented on #136
@impittman in the same sql connection, change database to es2m_bmps.  I believe there's only one feature class in there.

[2018-04-06 12:16] impittman commented on #136
@leeensminger I may be misinterpreting ES2M functions, but have further questions after reviewing the es2m_bmp database.
Currently, 3 BMPs exist in the feature class. I presume these are created elsewhere and not within ES2M. However, there is currently no way that I can find to associate a specific BMP to a Project in ES2M. So when you assign a BMP type to a project in Admin or Inspection, it jus

[2018-04-09 13:17] impittman commented on #133
This has been corrected, tested on both Inactive and Active Project Status and by also creating and submitting new Inspections.

[2018-04-09 13:17] #133 closed, assigned to impittman

[2018-04-09 13:19] impittman commented on #132
This has been corrected.

[2018-04-09 13:19] #132 closed, assigned to impittman

[2018-04-09 13:24] impittman commented on #131
This was corrected

[2018-04-09 13:24] #131 closed, assigned to impittman

[2018-04-09 13:26] impittman commented on #130
Tested and it is corrected

[2018-04-09 13:26] #130 closed, assigned to impittman

[2018-04-09 13:29] impittman commented on #28
Updated and looks good

[2018-04-09 13:29] #28 closed, assigned to impittman

[2018-04-09 13:47] impittman commented on #110
I think the windspeed is still not recording in MPH from the weather station. I looked at one inspection and compared the windspeed in ES2M to a weather station nearby the inspection site. Please see the differences below:
Inspection Weather Recorded in ES2M
![weather1](https://user-images.githubusercontent.com/16418393/38501271-18db202e-3bfc-11e8-91af-fff6b9b933a6.png)

Note the Temperature and P

[2018-04-09 13:49] impittman commented on #124
submitted new issue, closing comment

[2018-04-09 13:49] #124 closed, assigned to impittman

[2018-04-09 13:58] impittman commented on #129
The warning message has been updated

[2018-04-09 13:58] #129 closed, assigned to impittman

[2018-04-09 14:00] impittman commented on #128
Warning message is updated

[2018-04-09 14:00] #128 closed, assigned to impittman

[2018-04-09 14:04] impittman commented on #127
The warning message still shows Specification not Deficiency, please update:
![spec def](https://user-images.githubusercontent.com/16418393/38502424-e00bf6c6-3bfe-11e8-9a6a-b1d48a3df3ba.png)

[2018-04-09 14:17] impittman commented on #134
Using the testing method outlined, this worked for calculating the due date.

[2018-04-09 14:17] #134 closed, assigned to impittman

[2018-04-09 14:21] impittman commented on #76
Should photo show location or station? On the report Gerry is creating, it definitely shows Location. I have seen both station and location in our requirements.

[2018-04-09 14:23] impittman commented on #78
@leeensminger Should photo show comment or description?  I have seen both in our requirements.

[2018-04-09 14:25] impittman commented on #77
@leeensminger Should this stay description? I believe we settled on yes, but before closing, I wanted to make sure this was accurate from any requirements updates.

[2018-04-09 14:26] #75 closed, assigned to kanglu666

[2018-04-09 21:02] ehsan67 commented on #72
@impittman @leeensminger  is it the last inspection date for the current selected project, or for last inspection date for all projects?

[2018-04-09 21:13] leeensminger commented on #72
@ehsan67 the last inspection date for the current selected project

[2018-04-10 10:43] leeensminger commented on #78
@impittman For all inspection photos, the term should be "Description"

[2018-04-10 10:46] leeensminger commented on #77
@impittman Yes should be Comments.  This from Req ID 23.0 and also the original form:

![image](https://user-images.githubusercontent.com/4103847/38552683-eaa30890-3c8a-11e8-9c3c-ac116ac656f4.png)

[2018-04-10 10:47] leeensminger commented on #15
@impittman Yes that description is correct.

[2018-04-10 10:53] leeensminger commented on #76
@impittman I think Location is preferred, as it is more general.  Also it appears that the UI (based on your screenshot) and Gerry both already have "Location" in place.  So let's go with that.

[2018-04-10 11:04] impittman commented on #78
@leeensminger Thanks, closing this one out so it won't be changed.

[2018-04-10 11:04] #78 closed, assigned to impittman

[2018-04-10 11:12] impittman commented on #15
@leeensminger Thanks for confirming, closing out issue.

[2018-04-10 11:12] #15 closed, assigned to impittman

[2018-04-10 11:13] impittman commented on #76
@leeensminger Thanks for confirming, closing out issue.

[2018-04-10 11:13] #76 closed, assigned to impittman

[2018-04-10 15:13] ehsan67 commented on #100
@leeensminger @impittman
_" If Meet Project Supervisor = No, then the system should display a comments box (required before save), where they can enter a reason why they did not talk to the Project Supervisor."_
Should I use PM_COMMENT field to save that comment? Or is it going to be a new filed in the database?

[2018-04-10 15:21] impittman commented on #100
@ehsan67 @leeensminger
From my understanding, the PM_COMMENT field is for the comments made under Admin-Forms (screenshot below). I have only seen the "Meet with Supervisor Yes/No" field in the database when QC'ing, though I may have overlooked it. I am pretty sure this will have to be a new field in the database.

PM COMMENTS field appears to relate to this as a heads up:
![pm1](https://user-imag

[2018-04-10 15:24] ehsan67 commented on #100
@impittman @leeensminger  if we add a new field, where do we show it in the UI?

[2018-04-10 17:22] leeensminger commented on #100
[ProjectSupervisor.pdf](https://github.com/kcigeospatial/DelDOT-ES2M/files/1895651/ProjectSupervisor.pdf)
@ehsan67 Like this.  In the inspection form, and should be presented dynamically, so that it is only visible and required when Meet Project Supervisor = No.

[2018-04-10 17:42] leeensminger commented on #100
@ehsan67 Add new field INSPECTION_RATING_FORM.MEET_SUPERVISOR_REASON

Type = Text, length = 500, not required / nullable

[2018-04-10 20:26] ehsan67 commented on #109
@leeensminger @impittman can you give me the steps and the result that is correct?

[2018-04-10 20:41] leeensminger commented on #109
per discussion with Ehsan on the phone:
1) The "query by rain events" functionality does not appear to be working.
2) Confirm that the flag for rain events is >= 0.5"

These might be related.  Also @ehsan67  it appears Lu added a field INSPECTION_RATING_FORM.RAIN_EVENTS to capture this information as a y/n.  So, that says that he's capturing the precipitation amount during the submittal process.

[2018-04-11 18:46] leeensminger commented on #100
[New inspection questions.pdf](https://github.com/kcigeospatial/DelDOT-ES2M/files/1900065/New.inspection.questions.pdf)
@ehsan67 @impittman Attached is the logic that is supposed to be in place for new inspections.  Ehsan - please review, and ensure that the application functions in this way.

This is also mostly captured in the wireframes: M:\2014\17141728.A\Reports\ES2M\Design\Wireframes

[2018-04-11 18:58] leeensminger commented on #73
@impittman The required workflow that you've laid out is correct - that is the correct workflow and a valid use case.  Please specify for Ehsan what part is not functioning and what is currently happening.

[2018-04-11 18:59] leeensminger commented on #101
@impittman Yes that sounds correct.

[2018-04-11 19:04] leeensminger commented on #125
@impittman The Notes functionality is expected to be not present in the Small Construction Diary inspection.  This should include Notes, relationships to Photos or specs, etc.

Notes should be entirely stripped from this inspection type.

[2018-04-11 19:39] ehsan67 commented on #72
ready KCI

[2018-04-11 19:40] ehsan67 commented on #77
ready  KCI

[2018-04-11 19:42] ehsan67 commented on #109
@leeensminger @impittman  the rain event logic is changed from 0.1 to 0.5. For the existing data the RainEvent flag could be wrong because of the wrong previous number.
ready KCI

[2018-04-11 19:44] ehsan67 commented on #110
@impittman  there was an issue in calculating the average Wind Speed, however, the conversion to MPH was already in place
ready in KCI

[2018-04-11 19:44] ehsan67 commented on #112
ready in KCI

[2018-04-11 19:53] impittman commented on #125
@leeensminger Thanks, just wanted to make sure this difference in functionality was accurate. No other notes are in Construction Type. Closing issue

[2018-04-11 19:53] #125 closed, assigned to impittman

[2018-04-11 19:54] impittman commented on #101
@leeensminger Thanks, closing after confirming.

[2018-04-11 19:54] #101 closed, assigned to impittman

[2018-04-11 20:09] impittman commented on #73
@ehsan67 Please review the entire thread here. Specifically, the issue occurs when the following steps are completed. The trouble occurs after you change a Deficiency from Yes to No. I outlined how to first make a Specification deficient, then how to change the same Specification to not deficient (where the deletes of deficient specification specific photos and notes should occur):

To make a Spec

[2018-04-12 11:14] impittman commented on #77
updated, closing issue

[2018-04-12 11:14] #77 closed, assigned to impittman

[2018-04-12 11:22] impittman commented on #112
@ehsan67 I was still able to save the general info form for the IRF without entering the required time out field. Can you confirm that the time in/time out requirement is supposed to be enforced here?
I went to the project beginning with BR3 and created a new inspection rating form for testing (results below).
![timeout](https://user-images.githubusercontent.com/16418393/38674315-9c3c3bf8-3e43-11e

[2018-04-12 11:24] #127 closed, assigned to impittman

[2018-04-12 11:35] impittman commented on #72
@ehsan67 I think the date fields are populating in reverse order. I created the inspection below this morning. If you notice, the Last Inspection Date is today 4/12/2018 and the Inspection Date is for 2/21/2018. The Inspection Date should be today and the last inspection date for 2/21/2018.
![inspect date error](https://user-images.githubusercontent.com/16418393/38674873-83dcf6f4-3e45-11e8-89d4-b0

[2018-04-12 18:14] ehsan67 commented on #112
@impittman @leeensminger
"**This should be enforced at time of submittal - we cannot require users to populate this when they open General Info.**"

Should I ignore that sentence in the first comment?

[2018-04-12 18:17] impittman commented on #112
@ehsan67 I will test again via submittal and see if I get an error. I will also clear my browser history in case that was an issue too.

[2018-04-12 18:20] impittman commented on #112
@ehsan67  @leeensminger  Tested and it works, my fault for the misinterpreting. The following error was received, all is good and I think we can close this issue:
![error trapping](https://user-images.githubusercontent.com/16418393/38696230-1d04f722-3e7e-11e8-94da-f38b107b42cf.png)

[2018-04-12 18:20] #112 closed, assigned to ehsan67

[2018-04-13 00:30] impittman commented on #135
@leeensminger we are trying to resolve the BMP checklist issue for this thread. When I upload a new pdf, just a test pdf not a template or anything, I can upload it with no issue. However, I cannot download the checklist as a user. It does not appear to associate to the BMP either.

-Is there a standard checklist template that creates the association of the checklist to the BMP and/or inspection (

[2018-04-13 17:20] ehsan67 commented on #72
ready kci

[2018-04-13 17:21] ehsan67 commented on #100
ready kci

[2018-04-13 17:21] ehsan67 commented on #114
ready kci

[2018-04-13 17:55] impittman commented on #114
the report function for download is present, will test functionality fully once we get the reports built at a later date. closing the issue.

[2018-04-13 17:55] #114 closed, assigned to impittman

[2018-04-13 18:04] impittman commented on #100
Meet with the Project Supervisor = No, A text box appeared and I was able to add my reason why. Works well.

Precon Meeting Attended only appeared on first inspection entered as inspected.

Closing issue.

[2018-04-13 18:04] #100 closed, assigned to impittman

[2018-04-13 18:18] impittman commented on #72
@ehsan67 The inspection date field is working correctly now. However, the last inspection field is not populating correctly. The last inspection field depicted below should have the date of 3/29/2018 for this project:
Using the admin login:
-Selected Project #T23678 as this only had one inspection in the project to begin with
-I added 1 inspection today and the following data populated in the Gene

[2018-04-16 15:31] ehsan67 commented on #73
@impittman @leeensminger  The notes and photos can be added before the specification is converted to Deficient. In that case, there is no way to know if the notes and photos are captured before the specification is changed to Deficient.

[2018-04-16 16:22] leeensminger opened #137 "Projects List - projects list is blank/empty"
The projects list is empty but is expected to have several records.  As of this posting there appear to be 10 projects in CONTRACTS table; all 10 should be visible here.

![image](https://user-images.githubusercontent.com/4103847/38822233-c5aa0238-4170-11e8-88d4-6c5e8e179f82.png)

[2018-04-16 16:24] leeensminger commented on #137
server error?
![image](https://user-images.githubusercontent.com/4103847/38822335-213d891c-4171-11e8-8594-38050a3ebcd5.png)

[2018-04-16 18:32] impittman commented on #73
Per an email today (4/16/2018) from @leeensminger:
I think this requirement is likely a holdover from a period of time during which the deficiencies were explicitly carried in a different table.

This requirement can be removed.  When a user flips a spec from Deficient = True to Deficient = False, the system’s only reaction should be to clear the deficiency due date field.  The system should not d

[2018-04-16 18:32] #73 closed, assigned to impittman

[2018-04-16 19:10] ehsan67 commented on #137
ready kci

[2018-04-16 19:11] ehsan67 commented on #72
ready kci

[2018-04-17 11:42] impittman commented on #137
working now, appeared  to be server error that is resolved, closing issue

[2018-04-17 11:42] #137 closed, assigned to impittman

[2018-04-17 11:45] impittman commented on #72
works as expected on testing, closing issues

[2018-04-17 11:45] #72 closed, assigned to impittman

[2018-04-17 14:17] leeensminger commented on #136
@impittman @ehsan67 The actual forms are now located here: M:\2014\17141728.A\Reports\ES2M\Documents\Inspection Forms Collection\Construction Checklists\PDF Forms

The forms match to BMPs per the table below.  Note there are many gaps - this is all we have for now.

BMP Type | Form filename
-- | --
Bioretention | DelDOT Bioretention   Facility Construction Checklist
Infiltration   Trench | DelDOT

[2018-04-17 14:19] leeensminger commented on #136
So @ehsan67 action items, I think, are:

- [ ] Kill the existing template files, and replace using those provided in the link above.
- [ ] Implement the Download Current Checklist UI functionality.
- [ ] Update the Admin/Config page to only show the BMP types for which we have a form.  Ensure the Download Current Checklist button (present on this page) returns the correct, new checklist template d

[2018-04-17 14:24] leeensminger commented on #136
@impittman @ehsan67 The BMPs are populated and loaded in the system in another (future) module - Design BMP.  Now, we (KCI) are loading BMPs into the system, and associating these to the Projects in a manual way.  We don't have any current data, since this is a day-forward system.

@impittman You mentioned that editing BMP type changes ALL BMPs.  The association for BMPs/Contracts I believe is hel

[2018-04-17 15:03] leeensminger commented on #135
@impittman  See comments in #136 .  These issues are somewhat related.

There is no naming convention required when the user updates and uploads a revised checklist.

[2018-04-17 15:04] leeensminger commented on #126
@impittman Not needed.  Let's remove this requirement to delete downstream child entities.

[2018-04-17 15:05] #126 closed, assigned to leeensminger

[2018-04-17 15:24] impittman commented on #135
@leeensminger I presume this is related to issue #136 and the work flow defined:
4.The user uploads the file (user clicks "Select File", browses to the PDF they have updated and saved locally, and selects this file), and clicks "Upload Revised Checklist".
5.The system takes the uploaded file, saves it to the system as associated to the selected BMP.
 **Note - between steps 4 and 5, the system trac

[2018-04-17 15:36] leeensminger commented on #135
@impittman Yes this is related, and the steps you copied above are accurate here.

[2018-04-17 16:02] leeensminger opened #138 "Admin - Forms - inspection forms list does not properly populate"
In this grid, the system should be displaying inspection forms with a submittal date within 90 days of the current system date.  There are forms that have been submitted within 90 days, but no forms are displayed in this list.

Current list, showing the default view when user navigates to this page, with no query applied:
![image](https://user-images.githubusercontent.com/4103847/38881275-947e67a6

[2018-04-17 16:35] leeensminger commented on #120
@ehsan67 The filtering components are functioning inconsistently across fields within each data grid.  This seems to affect most grids in the system.  Do you need an explicit list of these grids and fields that need to be modified?

What is expected to happen - The query function, for all fields across all tables, should be returning field values that match the search characters ANYWHERE within th

[2018-04-17 17:35] leeensminger opened #139 "Admin - Specs - Add field to display/edit Regulatory Statement"
Within the Admin/Specs page, the system does not display a "Regulatory Statement" field.  This should be displayed, where:
Label = Regulatory Statement
Field value = MASTER_SPECIFICATIONS.REGULATORY_TEXT

Please insert this field below Spec Statement, somewhere similar to the red lines in the screenshot below.

![image](https://user-images.githubusercontent.com/4103847/38886500-2039bc74-4244-11e8-

[2018-04-17 17:53] leeensminger opened #140 "Inspections - Notes - system should create note based upon PreCon Meeting Attended question"
For the first inspection on a Project, where inspection type is not Small Project Construction Diary Inspection or Vegetative Review Form, the system correctly asks "Precon meeting attended?"

The system does not currently automatically create a Note on the inspection to capture the response to this question.

- if Precon meeting attended = Yes, the system should automatically create a Note, where

[2018-04-17 18:22] leeensminger opened #141 "Inspections - when Inspection Completed = No, copy previous inspection"
In General Information, when Inspection Completed = No, the system should duplicate the most recent inspection for this inspection.  The reason is that there is a legal requirement for inspectors to complete an inspection every single week.... so if they cannot due to snow, rain, etc., in their current workflow, they'll copy the previous inspection, change the date, and resubmit.  This is the inte

[2018-04-18 11:27] impittman commented on #110
this is working as expected during testing, closing issue

[2018-04-18 11:27] #110 closed, assigned to impittman

[2018-04-18 12:19] impittman commented on #109
@ehsan67 I found some issues on the query for rain events when testing today. It appears that inspections with "0" inches of precipitation are still appearing in the query. In addition, 2 inspections with precipitation amount greater than ".5" are missing from the query. See below for details:

Queried on “Rain Events” and Received 6 Inspection Records. Based on the logic for Precipitation Amount,

[2018-04-18 20:56] ehsan67 commented on #136
@leeensminger @impittman  can you explain how we assign the first bmp to a project? The ui doesn't allow to add bmp and it is only possible to edit the currently assigned bmp for projects. On the other hand, the database design support multiple BMP for project. It is a M to N relationship which means that one BMP can be related to multiple projects

[2018-04-19 02:17] leeensminger commented on #136
@ehsan67 BMPs are not assigned or associated to projects in this UI.  The process to do so will occur in a future module, that isn't built yet.  So for now, KCI will just be manually loading the database and assigning the contract ID for those BMPs as appropriate.

a M:N relationship between projects and BMPs is not a feasible business process that would occur - that said, a M:N still works, and t

[2018-04-19 15:05] ehsan67 commented on #109
@impittman  did you test on the data that was added before I change the logic from 0.1 to 0.5 in code?

[2018-04-19 16:21] impittman commented on #109
@ehsan67 I will create another inspection to confirm today as it is raining. I can check it on 4/20 to ensure all is good. That way we know there was rain and it was past the change date.

[2018-04-19 17:59] ehsan67 commented on #136
@impittman  kci ready, I removed all submitted checklists in the database

[2018-04-19 18:00] ehsan67 commented on #135
@impittman kci ready

[2018-04-20 14:48] ehsan67 commented on #140
@leeensminger  Where should the "Note" go? can you specify the field?

[2018-04-20 14:54] ehsan67 commented on #140
@leeensminger  I found the notes, please ignore my previous question

[2018-04-20 18:15] ehsan67 commented on #138
ready KCI

[2018-04-20 18:15] ehsan67 commented on #139
ready kci

[2018-04-20 18:16] ehsan67 commented on #140
ready kci

[2018-04-24 13:59] impittman commented on #138
@ehsan67 I have tested this on 4/24/2018. I noticed that most of the submitted inspections are present within 90 days of today's date. However, 3 are missing from the end of January and middle of February (see screenshot below). These 3 should fall within the 90 days of the system date of today (4/24/2018).

Current missing in 90 day list in ES2M:
![include in 90](https://user-images.githubusercon

[2018-04-24 14:28] impittman commented on #140
@ehsan67 @leeensminger
The notes are created using the logic provided for capturing Pre-Con Meeting attendance for the first inspection form entered. However, notes are also added to each new inspection for a project stating that a pre-con meeting was not attended. For replication of steps, I did the following:
-Went to a project with no inspections and added the very first inspection to the proje

[2018-04-24 14:38] impittman commented on #139
@ehsan67 The field has been added, but it is not showing up on the Web Viewer (using Chrome) or on the ipad. Is there anyway this can be corrected to fit the screen or adding a scroll bar, etc.?

For desktop, using Chrome, I have to shrink the resolution to around 75-80% to see the field and there is no option to scroll down (normal screen size 90% depicted below):
![nromal screen size](https://us

[2018-04-24 14:39] impittman commented on #136
this was updated on testing, closing issue

[2018-04-24 14:39] #136 closed, assigned to impittman

[2018-04-24 14:52] #135 closed, assigned to impittman

[2018-04-24 15:49] impittman opened #142 "Weather date that first populates in Weather form does not update correctly"
I noticed that when I click on the Weather button for an inspection form, the initial weather shows the wrong date. I think this may be occurring because a refresh is not happening between the weather feature and the selected inspection.

Here are the steps I used for recreating:
1) Select a project from the list -I used the highlighted one:
![selected proj](https://user-images.githubusercontent.c

[2018-04-24 16:20] impittman commented on #120
@leeensminger @ehsan67
I noticed on testing that the Date Field in Admin-Forms is not working. I entered "F" for February inspections submitted and got the following, note March is included:
![bad filter](https://user-images.githubusercontent.com/16418393/39200322-61da6c22-47db-11e8-9645-f5f8f5deb2db.png)

[2018-04-24 18:13] impittman commented on #138
@leeensminger Can you confirm this is 90 days from the submit date or 90 days from the inspection date? @ehsan67 currently has the code looking at the inspection date for the date range but we wanted to confirm this is not old logic.

[2018-04-24 20:20] leeensminger commented on #138
@ehsan67 @impittman This should be looking at submit date.

[2018-04-24 20:49] ehsan67 commented on #120
kci ready

[2018-04-25 14:53] impittman commented on #140
works as expected, closing issue.

[2018-04-25 14:53] #140 closed, assigned to impittman

[2018-04-25 14:59] impittman commented on #139
works great on both the ipad and the desktop, closing issue

[2018-04-25 14:59] #139 closed, assigned to impittman

[2018-04-25 15:01] impittman commented on #138
works on testing, expected submitted inspections for 90 days are present. closing issue

[2018-04-25 15:01] #138 closed, assigned to impittman

[2018-04-25 16:34] impittman commented on #141
The following does not appear to be functioning:

2.Present a popup notification message, that indicates "The inspection has not been completed. The previous inspection will now be copied. Please review the information, edit as necessary, and submit." This should include an OK button that the user must click before moving on.  I see the following:
![message not updated](https://user-images.githubu

[2018-04-30 15:21] ehsan67 commented on #120
ready at kci

[2018-04-30 15:22] ehsan67 commented on #141
ready at kci

[2018-04-30 15:23] ehsan67 commented on #142
ready at kci

[2018-05-02 18:19] leeensminger opened #143 "General Info - Remove Form ID field from General Info UI"
For all inspection types, within the General Info, the first field shown is the Form ID.  This is not relevant to users and should be removed from the UI.

![image](https://user-images.githubusercontent.com/4103847/39541471-d5eb6dda-4e13-11e8-837d-dc6f3de8be12.png)

[2018-05-02 19:00] leeensminger commented on #6
Not necessary at this time

[2018-05-02 19:00] #6 closed, assigned to leeensminger

[2018-05-02 19:14] ehsan67 commented on #143
@leeensminger  so we don't care what is being saved there?

[2018-05-02 19:16] leeensminger commented on #143
@ehsan67 No, it's a system-calculated field.  I think its the primary key.  But its definitely not relevant for the users.

[2018-05-07 12:58] impittman commented on #120
I noticed the following filters do not work on testing. The remaining filter fields appeared to be working in both the Admin and Inspections part of ES2M as specified:

Admin - Specs: These listed below do not perform a filter action when numbers or letters are entered.
Spec Num
Description
Described Fix

[2018-05-07 16:38] ehsan67 commented on #120
ready kci

[2018-05-07 16:39] ehsan67 commented on #143
ready kci

[2018-05-09 17:31] impittman opened #144 "Weather Page does not always populate with data"
We have noticed on testing that the weather page does not always populate with data. Here are the scenarios when this occurs:

1) No weather is loaded for projects that have a Status of "Active". The projects with an "Inactive" Status seem to load fine.

2)There have been several days where _**no data**_ is loaded onto the weather page regardless of project status. Could this be due a failure to c

[2018-05-10 02:17] impittman commented on #141
@leeensminger  This is working as outlined for steps 1 - 6 above. However, 2 inspection records for the day where Inspection Completed = No are added. One is a duplicate inspection of the previous inspection and the other is an inspection record with no copied over data from the previous inspection.

Please confirm - There should be just 1 record created when Inspection Completed = No which is the

[2018-05-10 02:23] impittman commented on #143
updated, closing issue

[2018-05-10 02:23] #143 closed, assigned to impittman

[2018-05-10 02:25] impittman commented on #120
updated and this is working, closing issue

[2018-05-10 02:25] #120 closed, assigned to impittman

[2018-05-10 11:14] impittman opened #145 "Remove ID field from Notes UI"
For all inspection types, within the Notes, the first field shown is the ID. This is not relevant to users and should be removed from the UI. This is similar to GitHub issue #143.

![screenshot_2](https://user-images.githubusercontent.com/16418393/39867172-25d2b198-5443-11e8-88db-6b7453bec85e.png)

[2018-05-16 13:33] leeensminger commented on #141
@impittman Yes there should only be 1 resulting inspection, not two.

[2018-05-16 13:40] leeensminger commented on #104
@impittman Closing this since you indicated that the email part works.  New issue to be created for adding the report.

[2018-05-16 13:40] #104 closed, assigned to impittman

[2018-05-16 13:45] impittman commented on #141
@ehsan67 please see the 2 comments above (one from me and one from lee), only 1 inspection should result when an inspection complete = no.

[2018-05-16 13:45] leeensminger opened #146 "Attach PDF report output to delivery email"
When an inspection is submitted, the system correctly creates and delivers an email to the project team.  The email needs to include, as an attachment, the PDF version of the report.  Effectively, the following steps need to be implemented:

1. user clicks Submit to submit the inspection
2. system creates email and populates text and recipients
3. system finds the inspection form type (veg evaluat

[2018-05-16 13:47] leeensminger opened #147 "Integrate PDF report to "Latest Submitted Inspection Forms" page"
On the Forms tab, the system includes a placeholder action button for downloading the report.  The reports are now mostly ready, so please work with Gerry to tie this together, so when the user clicks the Download action button, the report is generated and delivered to user.

![image](https://user-images.githubusercontent.com/4103847/40120849-303da4bc-58ee-11e8-9912-559c04ce3cef.png)

[2018-05-16 16:57] leeensminger opened #148 "IRF Report - Update Specifications"
[Specs.xlsx](https://github.com/kcigeospatial/DelDOT-ES2M/files/2010063/Specs.xlsx)
@gerrykelly We reviewed the IRF report with stakeholders yesterday.  The only minor modification we need is to add a category header - one for each category set of specifications.  The attached Excel includes data sources, and a mockup design, for what this might look like.  Also included are sources for the "Y/N"

[2018-05-16 17:09] leeensminger opened #149 "IRF Report - update 1st page header"
The existing header is correct per the mockup provided, but the change below needs to be made:

Remove line 2 and line 3
Insert "Delaware Department of Transportation" as line 2

![image](https://user-images.githubusercontent.com/4103847/40132237-3fe3201a-590a-11e8-8bc9-da3cc253ab97.png)

[2018-05-16 17:15] leeensminger opened #150 "IRF - 1st page formatting"
There are a few items on the 1st page that do not have a line space between them, which is inconsistent.  please insert a space at the locations indicated in red:

![image](https://user-images.githubusercontent.com/4103847/40132624-507f7e4a-590b-11e8-808d-665cde34e330.png)

[2018-05-16 17:25] leeensminger opened #151 "IRF - Photos - delete "URS" label"
Delete the "URS" text in the top left corner of the Photos page.

![image](https://user-images.githubusercontent.com/4103847/40133051-87d88192-590c-11e8-9a62-5d61377979cc.png)

[2018-05-16 17:41] leeensminger commented on #148
The selection set is - for the given inspection, all INSPECTION_SPECIFICATIONS.  As noted in the doc attached above, you'll have to join this to other table(s) to get needed info.

[2018-05-16 18:57] gerrykelly opened #152 "IRF report DEFICIENCIES clarificaction"
@leeensminger
If the content and format of the DEFICIENCIES section is basically good, then I should rename CURRENT DEFICIENCIES to just say "DEFICIENCIES" and delete that second (NO) PREVIOUS DEFICIENCIES table, correct?
However if you decide that we are going to support current vs. previous, then the data and logic would need to be clarified.

[2018-05-16 19:08] gerrykelly commented on #149
@leeensminger
Done, ready for test

[2018-05-16 19:10] gerrykelly commented on #148
@leeensminger
Done, ready for test (keep in mind the scoring table section is just a mockup, if you'd like to work on that or just let me take a shot after I do the specs and scores part)

[2018-05-16 19:10] gerrykelly commented on #150
@leeensminger
Done, ready for test (keep in mind the scoring table section is just a mockup, if you'd like to work on that or just let me take a shot after I do the specs and scores part)

[2018-05-16 19:11] gerrykelly commented on #151
@leeensminger
Done, ready for test

[2018-05-16 19:24] impittman opened #153 "Should Inspections Archive Similar to Projects?"
Under Admin, when a Project is deleted, a message pops up that it is being "Archived" and the Project is removed from the list. However, the following two things still happen:

1) Under Inspections, all of the Projects and their related inspections remain. Should the Inspections be archived similar to the Projects? For example, I have archived all but the Project "US 301". However, ALL projects st

[2018-05-16 23:21] gerrykelly commented on #148
@leeensminger
Ready for review.  The table based on the scoring on page one is still a mockup and needs to be reworked based on this Specifications section.  I am going to make that an issue and assign to you.

[2018-05-16 23:25] gerrykelly opened #154 "IRF report page one scoring table needs to be specced out"
@leeensminger
The table based on the Specifications section scoring on page one is still a mockup and needs to be reworked,
I can capture the total points and points awarded/excluded by category and overall and apply whatever math, adjustments and final rating logic you come up with, but what we have now does not translate vs. our example PDF

[2018-05-17 11:47] #153 closed, assigned to leeensminger

[2018-05-17 16:40] leeensminger commented on #154
[IRF Report - Scoring Summary Grid.xlsx](https://github.com/kcigeospatial/DelDOT-ES2M/files/2014053/IRF.Report.-.Scoring.Summary.Grid.xlsx)

Attached file includes details.  Also found here: M:\2014\17141728.A\Reports\ES2M\Developer Support

[2018-05-17 16:45] leeensminger commented on #151
tested good

[2018-05-17 16:45] #151 closed, assigned to leeensminger

[2018-05-17 16:45] leeensminger commented on #150
tested good

[2018-05-17 16:45] #150 closed, assigned to leeensminger

[2018-05-17 16:45] leeensminger commented on #149
tested good

[2018-05-17 16:45] #149 closed, assigned to leeensminger

[2018-05-17 16:46] leeensminger commented on #148
tested good

[2018-05-17 16:46] #148 closed, assigned to leeensminger

[2018-05-17 19:42] ehsan67 commented on #141
@impittman  I am not able to reproduce the problem, the process creates only one inspection and that is the copy of the last submitted inspection.

[2018-05-17 22:26] gerrykelly commented on #154
@leeensminger
Ready for your review (also it would be good if ever there was realistic data for an inspection for the page 1 elements so we could verify that it comes out looking good)

[2018-05-17 22:47] impittman commented on #141
@ehsan67 I cleared my browser and relogged in. Unfortunately, I am still getting the issue. Here is the steps used to help replicate what I am seeing:

-I used  896 Intersection for the Project. There were initially only 2 inspections in the project as shown below:
![starting point](https://user-images.githubusercontent.com/16418393/40207256-21c7cb02-5a23-11e8-9926-8da57d1696eb.png)
-I added a new

[2018-05-18 17:01] ehsan67 commented on #141
@impittman @leeensminger  So based on Maria's example, does it mean that I need to delete the inspection when the user set Completed Inspection = No ?

[2018-05-18 17:26] impittman commented on #141
@ehsan67 @leeensminger  We want to delete the one in blue (non duplicate inspection). The duplicate inspection in red should remain in place.

[2018-05-18 18:38] ehsan67 commented on #141
@impittman @leeensminger if we are deleting the inspection, what is the purpose of having the Reason dropdown?

[2018-05-19 13:10] impittman commented on #141
@ehsan67 @leeensminger
For the duplicated inspection (the one red in my previous example), the workflow is to have the inspector keep all the inspection info the same from the last submitted inspection. However, the inspector will edit a few fields on the general info form before submitting:

-Inspection Date will be changed to the date the inspection was attempted. For example, if the last submit

[2018-05-21 10:16] leeensminger opened #155 "Admin - Projects - remove asterisk from Lat/Long fields"
In the Address portion of new projects, Latitude and Longitude have an asterisk at the front of the field label.  Please remove the asterisk.

![image](https://user-images.githubusercontent.com/4103847/40302841-7ca29bea-5cbe-11e8-8d16-def48cf4fcee.png)

[2018-05-22 17:20] leeensminger commented on #141
From General Information page:
inspection date = from new inspection
time in/out = from new inspection
last inspection date = same logic as is currently in place
construction status = use from previous submittted inspection
reason for inspection = use from previous submitted inspection
inspection completed = from new inspection
noninspection reason = from new inspection

all questions the system a

[2018-05-22 20:44] ehsan67 commented on #141
ready kci

[2018-05-22 20:44] ehsan67 commented on #145
ready kci

[2018-05-22 20:44] ehsan67 commented on #146
ready kci

[2018-05-22 20:44] ehsan67 commented on #147
ready kci

[2018-05-22 20:45] ehsan67 commented on #155
ready kci

[2018-05-23 01:01] impittman commented on #155
edited as noted, closing issue

[2018-05-23 01:01] #155 closed, assigned to impittman

[2018-05-23 01:10] impittman commented on #147
@ehsan67 The Inspection Report Form downloaded with no issues. However, I got the following messages for the other reports. Is this to be expected? I was unsure if these reports were not final and if this is the reason for the error.

Semi Final
![semi-final report error](https://user-images.githubusercontent.com/16418393/40398103-c65a34ec-5e25-11e8-861b-d09db5e17adf.png)

Construction Diary
![con

[2018-05-23 01:11] impittman commented on #145
edited as noted, closing issue

[2018-05-23 01:11] #145 closed, assigned to impittman

[2018-05-23 01:16] impittman commented on #141
works as expected after testing, closing issue

[2018-05-23 01:16] #141 closed, assigned to impittman

[2018-05-23 14:14] ehsan67 commented on #147
@impittman  those reports don't exist yet , that is the reason of those errors

[2018-05-23 17:49] ehsan67 commented on #144
@impittman  the reason there is no data in the table is that we are getting any data from weather service for that station and date combination.
I change the UI to show a message when the table is empty

[2018-05-24 18:23] impittman commented on #144
The message shows up as requested when no weather is displayed.

[2018-05-24 18:23] #144 closed, assigned to impittman

[2018-05-25 14:29] impittman commented on #109
@leeensminger
For inspections that have no weather populated from the DEOS weather service, see #144, the rain even function is likely not going to work correctly. For example, inspections were completed on 5/17 where there was definitely rain occurring in high amounts (0.72 in min for inspection county). However, the weather page did not appear to register data and this submitted inspection is no

[2018-05-25 14:42] impittman commented on #142
@ehsan67 @leeensminger
The date being populated for the weather page is not always the correct date. Below is an example to help show where I am noticing the issue:
1) This is in the unnamed Project with the Contract # as 87654. I am using the Semi Final inspection with the date of 5/22/2018.
![gen info date](https://user-images.githubusercontent.com/16418393/40550398-7d9654d8-6029-11e8-9bbc-79db2

[2018-05-25 14:44] impittman commented on #147
@ehsan67 thanks for the clarification. I will leave this open in my assigned issues to test functionality once all reports are ready to go.

[2018-05-30 16:13] ehsan67 commented on #142
@leeensminger @impittman  there is an explicit logic in the code that adds one day to the date and then run the query, should I remove that?

[2018-05-30 16:17] leeensminger commented on #142
@ehsan67 Yes please remove.  That should not be there

[2018-05-30 16:27] ehsan67 commented on #142
@impittman  ready kci

[2018-06-01 13:40] impittman commented on #142
this is working as expected

[2018-06-01 13:40] #142 closed, assigned to impittman

[2018-06-17 13:53] leeensminger commented on #109
@impittman Have you seen the service? How are you able to verify that there is no data in the DEOS weather service source?

[2018-06-17 13:58] impittman commented on #109
@leeensminger I have only verified the message works, some of the weather stations are somewhat of a guess as to if it is the best one to use for proximity. I did notice on DEOS that many stations indeed do have n/a for data we are capturing. Perhaps there is a better service to use?

[2018-06-17 13:59] leeensminger commented on #109
"I did notice on DEOS that many stations indeed do have n/a for data we are capturing."

-- How did you verify that?

[2018-06-17 14:00] impittman commented on #109
This site will summarize based on station location:
http://www.deos.udel.edu/data/monthly_retrieval.php

[2018-06-17 14:10] impittman commented on #109
@leeensminger to clarify "many of these stations" are either in other neighboring states, but closest to Delaware for getting weather observations, or stations that have data that is spotty in reporting. Also, there are a couple in the middle of the state that had a few months were data was sporadic. The ones closest to the existing inspections I believe are mostly complete, with the exception of

[2018-08-30 08:28] leeensminger opened #156 "Projects - Change "Not Issued Date" to "NOT Date""
Within the Project Details, please change the field label for "Not Issued Date:" to "NOT Date:".  At your discretion, also change the database field to match.

![image](https://user-images.githubusercontent.com/4103847/44839511-faac9700-ac0c-11e8-8c22-ddfc619cc163.png)

[2018-08-30 08:32] leeensminger opened #157 "Projects - Change "Not Received Date" to "NOI Issued Date""
Within Project Details, change the field label for "Not Received Date:" to "NOI Issued Date:".  At your discretion, also change the database field.

![image](https://user-images.githubusercontent.com/4103847/44839780-96d69e00-ac0d-11e8-97b2-1601327caaaf.png)

[2018-08-30 18:47] ehsan67 commented on #156
@impittman @leeensminger did update save the project dates? I don't see those fields anywhere in the services code

[2018-08-30 19:42] ehsan67 commented on #156
@leeensminger @impittman  I checked the code and I don't see in any place that we save project date information!

[2018-08-31 16:36] ehsan67 commented on #156
I fixed the issue and now it saves all dates

[2018-08-31 16:37] ehsan67 commented on #157
ready

[2018-09-04 14:24] impittman commented on #157
updated as requested, edits and changes to the field work, closing

[2018-09-04 14:24] #157 closed, assigned to impittman

[2018-09-04 14:24] impittman commented on #156
updated as requested, edits and changes to the field work, closing

[2018-09-04 14:24] #156 closed, assigned to impittman

[2018-12-17 17:54] impittman opened #158 "Update Spelling Under Admin - Specs"
The following error occurs under Admin - Specs
Update the spelling to "Construction":

![const in specs](https://user-images.githubusercontent.com/16418393/50105476-cf20dd00-01fa-11e9-9beb-d97258a1c0a5.png)

[2018-12-18 14:28] impittman commented on #109
This was resolved with an "No data available message" #144 closing this issue.

[2018-12-18 14:28] #109 closed, assigned to leeensminger

[2018-12-18 14:38] impittman commented on #152
Following up on this comment, in running the IRF report, I noticed that the previous deficiency is reported as the same as shown for current deficiency when this is first inspection for a project with a deficiency. Here is an example to illustrate:   I created an inspection and assigned a deficiency to a specification. This was the first inspection to have a deficiency for this project. In the rep

[2018-12-18 22:44] kanglu666 commented on #158
updated in dev, ready for testing

[2018-12-19 12:10] impittman commented on #158
Tested and this is good to go, closing issue

[2018-12-19 12:10] #158 closed, assigned to impittman

[2019-02-25 02:45] #154 closed, assigned to leeensminger

[2019-02-25 02:55] leeensminger commented on #152
@gerrykelly I echo @impittman comment - threethings need to happen on this one:

1. Where we currently have "No previous deficiencies"... this should display "Previous Deficiencies" (for all inspections, all the time - this can be a static text value).

2. The "Current Deficiencies" table should show those deficiencies that are new, generated during the current inspection.  The "Previous Decriptio

[2019-02-25 02:55] leeensminger commented on #147
Closing for now - we'll develop these reports in the future if needed on other GH items

[2019-02-25 02:55] #147 closed, assigned to impittman

[2019-02-25 02:56] leeensminger commented on #146
@impittman please test - I recently submitted an inspection, and the report was not attached to the email.  If you can reproduce this issue, please provide details and assign to Lu

![image](https://user-images.githubusercontent.com/4103847/53329797-e5ae7900-38ba-11e9-85ab-eb43f851aad5.png)

[2019-02-25 03:26] leeensminger opened #159 "Develop Quarterly Ratings Report"
@gerrykelly

Please develop a report that summarizes inspections.  See "Quarterly Ratings Report" Excel for template.  The attached "Original_QuarterlyRatingsReport" PDF is what we got from DelDOT.  I took that PDF, massaged it some based on previous conversations with the client, and came up with the Excel.  We have a little wiggle room on the design, so tweak if needed.

Key requirements are tha

[2019-02-25 03:31] leeensminger opened #160 ""To" field in IRF first page is missing"
@impittman please check back to the source IRF (I can send link, if needed) or requirements, and confirm how the "To" field on the first page of the report is intended to be populated.

This field was blank for me - maybe because I did not have any of the project team populated??  Please confirm, and assign to Gerry if you think this is really an issue.

[2019-02-25 03:34] leeensminger opened #161 "Change source of weather"
@kanglu666 please change the source of the weather away from the University of Delaware weather feed.  Use whatever feed makes sense - NOAA, Weather Underground, whatever.  The weather needs to be populated from the weather station nearest to the project location (like it currently is).

Touch base with Brendan as needed for weather source suggestions.

[2019-02-25 10:02] leeensminger opened #162 "Insert action button to generate IRF PDF from Inspections>Projects>Inspections"
Similar to #147

@kanglu666 please add an action button within the grid, that allows users to generate the PDF report on-demand for any submitted inspection.  When an inspection has not been submitted, either disable the action button, or display a message indicating that the report cannot be generated until the form has been submitted.

![image](https://user-images.githubusercontent.com/4103847/5

[2019-02-25 10:03] leeensminger opened #163 "Update text formatting on inspection submittal email alert"
Within the email that is sent upon submitting an inspection, please add a space between "Inspection Rating Form" & "(Inspection ID:)".

![image](https://user-images.githubusercontent.com/4103847/53329730-b5ff7100-38ba-11e9-8b2e-47bee28e9624.png)

[2019-02-25 10:10] leeensminger opened #164 "Inspections appear to show as Failed, even when 95%+ of points are achieved"
I submitted an inspection with only 3 minor deficiencies.  This should be considered a "pass", but the inspection shows as a fail.  Please check within [1) the first page of the sample IRF forms (provided by DelDOT), or 2) the requirements] to confirm what the percentages for pass/fail should be.  Then communicate to Lu for updating.

![image](https://user-images.githubusercontent.com/4103847/5332

[2019-02-25 10:20] leeensminger opened #165 "Allow project team members to be entered manually (not from NPDES user table)"
Currently, when you add users to the project team, the system works as designed - you can select users that are in the system.  We need to enhance this, to allow us to enter any text into the name, company, and email fields.

For example, the end result should be as follows:
I come into the app, and click New User (or Edit).  I select the role from the dropdown.  The Name, Company, and Email field

[2019-02-25 13:29] impittman commented on #146
I get the same results. Steps used to replicate.
1) assigned myself as a Project Supervisor
2) created new inspection and filled out all of the required information
3) clicked submit for the inspection to be finalized
4) received an email, no report attached
5) selected Admin - Forms - Inspection submitted on 2/25/19 and downloaded the pdf report
6) the pdf report for the inspection was populated,

[2019-02-25 13:43] impittman commented on #160
@leeensminger I have the project team populated and the "to" was also missing. If you have the link to the requirements, please send along.

[2019-02-25 13:46] impittman commented on #164
@leeensminger  please provide a link for this to confirm %:
[1) the first page of the sample IRF forms (provided by DelDOT)

[2019-02-25 14:13] gerrykelly commented on #159
@leeensminger
This report will _not_ show comments (like in the PDF), correct?

[2019-02-25 14:31] impittman commented on #160
I found the mockup for the IRF Form. Within is the following comment for the “To” field. Is this field still only to show the Project Supervisor or has anything changed from DelDOT feedback since we are now emailing all Project Team Members? If these comments are good, I will assign to Gerry.

![comments](https://user-images.githubusercontent.com/16418393/53344185-0f2dcb80-38e0-11e9-926b-609e487fe

[2019-02-25 14:48] leeensminger commented on #159
Correct

On Mon, Feb 25, 2019 at 9:13 AM -0500, "Gerry Kelly" <notifications@github.com<mailto:notifications@github.com>> wrote:

@leeensminger<https://github.com/leeensminger>
This report will not show comments (like in the PDF), correct?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/kcigeospatial/DelDOT-ES2M/issues/159#is

[2019-02-25 15:03] gerrykelly commented on #159
@impittman @leeensminger
I'm confused as to how to get started on this.  We still only have that es2m database in dev, correct?  So there are only a very few records.
I'll have some more specific questions that would be best handled with a brief meeting, but it is the INSPECTION_RATING_FORM table that is intended to be the source for inspection counts in the report, correct?

[2019-02-25 20:25] gerrykelly commented on #159
@leeensminger @impittman
I've completed a draft version of the report and published to the GP service.  So still data to limited to see or test a whole lot and my pending questions, plus likely addition formatting etc. after review.  But, this is likely basically finalized for SQL logic, functional code and how Lu will call it from the UI,

From http://vm-city102:6080/arcgis/rest/services/DelDOT_N

[2019-02-25 22:16] gerrykelly commented on #152
@leeensminger @impittman
So far as current deficiencies, I think that is working as intended/described already -- issues observied -- correct?

For Previous Deficiencies I would like to have just enough test data that will support generating the results you expect from an inspection that has 2 previous inspections (IRF ID 149 has one prior -- 147 -- so that's a good starting point) -- I assume the

[2019-02-26 01:07] kanglu666 commented on #163
updated in local, will test

[2019-02-26 01:18] kanglu666 commented on #161
the current weather module is designed based on the University of Delaware weather feed.

Need to re-design the weather module?

[2019-02-26 02:00] leeensminger commented on #161
@kanglu666 Hopefully the same/similar data is available?  Just pulling from a different source

[2019-02-26 02:01] leeensminger commented on #160
@impittman those comments are good

[2019-02-26 12:19] impittman commented on #160
@leeensminger Based on  your feedback on the comments I found: I tested by assigning a Project Superintendent to the new project. Submitted an inspection and the "To" field was filled out correctly in the report. I think the problem in the other project inspection was there was not a project superintendent assigned and believe this is working as it should.
![to screenshot](https://user-images.gith

[2019-02-26 12:46] impittman commented on #159
@gerrykelly i will look into adding more data today that would support this report. I will add date ranges for January, not sure if it will take a March date, but will try. Let me know if there are other parameters you may need for this report that are not currently in the data and I will add on 2/26/19.

[2019-02-26 12:48] impittman commented on #159
@leeensminger please confirm -

1. This is for calendar year, not fiscal ... so make sure that's what they want

[2019-02-26 15:53] impittman commented on #159
@gerrykelly  I added some additional data and ran the report from the GP Service. Please see attached pdf for results. A couple comments below:
1) The report appears to populate as outlined. It sorts by Contract/Month no issue.
2) I added a CCR Inpsector and Firm to both Contracts. However, this field did not populate in the attached report.

**CCR in Projects**
![image](https://user-images.github

[2019-02-26 16:04] impittman commented on #152
@gerrykelly I have added some additional inspections with and without deficiencies to the 2 Projects in ES2M. Let me know if additional parameters/inspections may be needed to help with getting enough test data.

For the logic, I think this makes sense and I am unaware of the need to only include the current and only the first previous inspection in the logic.

That said:
@leeensminger You wrote t

[2019-02-26 17:44] gerrykelly commented on #159
@leeensminger @impittman
So far as "    ... The Average Score is showing 100.0 ..." I just took my best guess assuming that from the samples the desired score looks to be a percentage out of  100 then if that is true there are a few options and I went with what I think is best, but it's one of the things I suggested a quick meeting to discuss.  You're seeing 100 bc these inspections have points aw

[2019-02-26 18:24] gerrykelly commented on #159
@impittman @leeensminger
I now see how to get to "CCR Inpsector" thru a few more table joins, but there is a problem in that the report expects a single value per record for "CCR Name" (assuming it's the same as "CCR Inpsector" ) where as our data has multiple per contract, which ruins the query that matches the report unless I just take the first 1 CCR Inpsector.  So I'll do that for now but I ca

[2019-02-26 18:31] gerrykelly commented on #159
@leeensminger @impittman
Working on this yesterday I had thought that CCR Company would come from LU_Construction_Contractors via the contract's [Constr_Contractor_ID].  But it looks like your intention ( @impittman ) is that it comes from [DelDOT_Auth].[dbo].[AspNetUsers].[CompanyorGroup] .  Is that correct?

[2019-02-26 18:37] impittman commented on #159
It was the only place that logically made sense as to where the CCR Name was coming from to me. This is the field I noticed. However, I feel strongly we need this confirmed as I don't have that part of the requirements as I think this is report  is new.

@leeensminger please confirm CCR Name = CCR Inspector attached to the project.

To your other point, I think that if this is truly CCR Inspector,

[2019-02-26 20:06] gerrykelly commented on #159
@impittman
OK, I updated the SQL for the report based on our current understanding of the issues here.  So another report review for now and then when we have some answers or if you see anything wrong, turn it back to me

[2019-02-27 05:32] kanglu666 commented on #165
updated, ready for testing in dev.

NOTE: database schema updated, web services updated.

[2019-02-27 12:59] impittman commented on #165
I am able to type in and add a new team member. However, the action button to go to inspections does not work anymore. Steps taken to replicate:
1) cleared cache
2) logged in to admin account
3) went to project and added a team member and email (me Iva Pittman)  by free typing
4) team member saved
5) went to inspections selected the project and clicked the arrow that takes user to page to enter in

[2019-02-27 13:08] impittman commented on #159
@leeensminger please see the concerns over the CCR Name in the report and how this should be grouped, etc.

[2019-02-27 18:43] kanglu666 commented on #165
updated, please test

[2019-02-27 20:29] impittman commented on #165
successfully tested the following:
-adding name in admin free text
-adding name in the inspection - project team as free text
both options worked and an email was sent to my free text entered email address. the report of the submitted inspection was not attached however, but this is already covered in a separate GH issues.
I feel comfortable closing this issue.

[2019-02-27 20:29] #165 closed, assigned to impittman

[2019-02-28 23:28] kanglu666 commented on #163
updated in dev, ready for testing

[2019-03-01 12:49] impittman commented on #163
This has been updated in the DEV generated emails:
![image](https://user-images.githubusercontent.com/16418393/53639129-5aa0ec00-3bf6-11e9-83ed-5f84ee9590bf.png)
Closing the issue.

[2019-03-01 12:49] #163 closed, assigned to nobody

[2019-03-01 13:11] impittman commented on #160
@leeensminger as a heads up, this is back to not working. I will forward off to Gerry.

[2019-03-01 13:42] impittman commented on #160
@gerrykelly
Currently, the IRF reports are not populating the "To" field. This was working at an earlier date (see example above). The To field should be populated on the report by:
1) Using the name of the Project Superintendent  - this role is assigned in the field "Project Roles Id" in the screenshot below where the Projects_Roles_ID = 6
2) Using the associated Company Name of the Project Super

[2019-03-01 14:54] gerrykelly commented on #160
@impittman
I think this was still working OK.  For any IRF related to contract 26 you will not get a value for TO.  For anything related to 26 it's a data issue since you have 2 records for Projects_Roles_ID = 6 and one has an invalid user ID (so the name is retrieved as NULL).  I revised the code to get the other non-NULL value so it works in this case now, but really the fix is QC on the data si

[2019-03-01 15:09] impittman commented on #160
@gerrykelly  Thanks for checking on this. I didn't realize having 2 project superintendents would be an issue. This is definitely something to pass along to the enduser and glad it was caught in testing.
I re-tested and all is working as expected. Closing.

[2019-03-01 15:09] #160 closed, assigned to impittman

[2019-03-03 05:15] leeensminger commented on #164
@impittman M:\2014\17141728.A\Reports\ES2M\Documents\Received From DelDOT\Typical E&S Inspection Form\ES2M Calc Form_20150501 Revised_UNSECURED.xlsx

[2019-03-03 05:21] leeensminger commented on #159
@gerrykelly @impittman yes CCR Name = CCR Inspector.

It technically is feasible to have more than one inspector per project.  However, for this critical short-term effort, there will only be one CCR.  So, v1 of this effort can take the first CCR inspector/name.

A future v2 enhancement can build on this to show multiples.

[2019-03-03 05:27] leeensminger commented on #152
@gerrykelly correct, we do not need to go back mroe than one inspection.

@impittman your understanding of the requirement is correct as you identified it above.

[2019-03-03 15:14] impittman commented on #159
@gerrykelly please see the previous post by @leeensminger with regards to the CCR Name field

[2019-03-03 15:15] impittman commented on #152
@gerrykelly please see mine and @leeensminger previous 2 comments above for guidance

[2019-03-03 21:20] kanglu666 commented on #162
updated, ready for testing in dev

[2019-03-03 21:24] kanglu666 commented on #146
i'm getting some emails with file attached, but some not.

[2019-03-04 12:05] impittman commented on #162
The download report button acts as outlined. If an inspection has not been  submitted, a message is generated to show a report must be submitted first. Inspections that are submitted and the reports have been created are downloaded successfully. The inspection reports for Construction, Regulatory Review, Semi-Final, and Final Inspections were not generated and I believe the reason is as previously

[2019-03-04 13:54] impittman commented on #164
@leeensminger I reviewed this Excel; however, I did not see a formula for percent pass/fail. The only thing I noticed within is the math the show points awarded vs possible points. I reviewed requirements here and also did not see any percentage for pass/fail based on deficiencies. If you have any other sources, let me know:
M:\2014\17141728.A\Reports\ES2M\Requirements\Requirements and Design Deli

[2019-03-04 20:27] gerrykelly commented on #159
@leeensminger @impittman
I think that this could be good then (perhaps with the still-not-discussed how ave score gets calced and testing scoring).  There were no records in [PROJECT_TEAM_XREF] with ccr insp. role so I added myself for both contracts and the report looked right, then I added matthew.ortynsky@gmail.com and made sure only one ccr insp & company gets into the report and records are n

[2019-03-04 21:28] impittman commented on #159
The reports work as expected for CCR Name and CCR Company. I also made a change to CCR Name in one of the projects and this change was reflected in the report (attached).

[QuarterlyRatingsReport12019_report.pdf](https://github.com/kcigeospatial/DelDOT-ES2M/files/2928263/QuarterlyRatingsReport12019_report.pdf)

@leeensminger  I am not sure if V1 should be updated for the average score, but I don't

[2019-03-04 23:20] gerrykelly commented on #152
@impittman
I think I have it functioning to the standards described in this thread -- a bit trickier than I thought.
-- For my testing I changed certain inspection dates.  The sample data you created had INSPECTION_RATING_FORMs for the same contract with identical dates.  I am assuming this is not what will happen in real data.
-- One part of the query for previous deficiencies looks for the same

[2019-03-05 12:23] impittman commented on #152
I created another inspection with today's date and made a deficiency. The previous inspection I created from 3/4 has no deficiency. This was captured correctly in the report. Only the current and last inspection was represented on the form. I believe this issue can be closed.

IRF Report
[report (19).pdf](https://github.com/kcigeospatial/DelDOT-ES2M/files/2930848/report.19.pdf)

[2019-03-06 00:12] kanglu666 commented on #162
updated, ready for testing in dev

[2019-03-06 00:13] kanglu666 commented on #146
please test in dev, if this attachment failed again, let me know which inspection form submitted.

[2019-03-06 00:41] leeensminger commented on #164
@impittman @gerrykelly please make it 50%.... > than 50% = pass, < 50% = fail.

[2019-03-06 00:44] leeensminger commented on #159
@impittman I think it is just the average for the inspections on that row... so for the first line in your screenshot, the Avg Score should be the average points achieved for those inspections

[2019-03-06 00:45] leeensminger commented on #159
@impittman also, we had previously talked about getting this worked into the UI.  Let's not do this at this time.  Once Gerry is completed and you find it satisfactory, please close the issue and we'll be done with it.  Thanks!

[2019-03-06 00:50] leeensminger commented on #164
@impittman @kanglu666 UPDATE: please use 69.99%.

Anything < 69.99% is noncompliant.  70%+ is pass.

[2019-03-06 01:20] impittman commented on #162
updated, no issues.

[2019-03-06 01:20] #162 closed, assigned to impittman

[2019-03-06 01:21] #152 closed, assigned to impittman

[2019-03-06 01:33] impittman commented on #159
@gerrykelly Please see the following comment about the avg. score:
_@impittman I think it is just the average for the inspections on that row... so for the first line in your screenshot, the Avg Score should be the average points achieved for those inspections_

Please use the Project T201900225 for Testing purposes. This has a lot of inspections with varying inspection score totals to average out

[2019-03-06 01:37] impittman commented on #146
@kanglu666 For the IRF report, I got an email with no attachment. The email text is in the screen shot below. The was for Project T20190225 Test Project. The inspection was submitted 3/5/2019 around 8:30 PM.
![image](https://user-images.githubusercontent.com/16418393/53849538-32aee100-3f86-11e9-97a4-1d0500d678cc.png)

[2019-03-06 14:13] gerrykelly commented on #159
@leeensminger @impittman
I get the average score of the inspections out of 100%, based on each IFR's
[sum-of-points-awarded]/[[sum-of-points-available]
then the average of those scores for all inspections for the contract/month/INSPECTOR/CCR-Name

That still need to be tested (and evaluated for being the desired approach)

[2019-03-11 22:03] kanglu666 commented on #164
checked the code, current percentage is 80%+ pass. updated to 70%+ pass. ready for testing in dev,

[2019-03-11 22:19] kanglu666 commented on #146
just tested, it's working fine for me. please see the attached:
![1](https://user-images.githubusercontent.com/6352480/54161871-0255bf80-442a-11e9-9042-e9aa275a01c0.JPG)

[2019-03-12 17:28] impittman commented on #164
This logic has been updated. Tested on under and over 70% and got expected results.

[2019-03-12 17:28] #164 closed, assigned to impittman

[2019-03-12 17:45] impittman commented on #146
Submitted 2 inspections today, but did not receive the attachments in the email. This was tested with two users and we both did not receive an attachment. Caches were cleared and new inspections were created.

![failed email](https://user-images.githubusercontent.com/16418393/54223003-fa029080-44cc-11e9-9c94-e6df5e3aad9b.JPG)